{
    "useTabs": true,
    "printWidth": 200,
    "tabWidth": 4,
    "singleQuote": true,
    "trailingComma": "es5",
    "semi": true,
    "bracketSpacing": false,
    "arrowParens": "avoid",
    "parser": "typescript"
}
