.mat-cell, .mat-header-cell {
    padding-left: 5px;
    padding-right: 5px;
}

.mat-column-Status {
	flex-grow: 2;
}

.mat-column-Summary {
    flex-grow: 3;
}

.seperate-inputs {
	margin-left: 10px;
}

.hidden {
	display: none;
}

