<dev-center-modal (modalEvent)="closeModal()" [customModalCss]=customModalCss>

	<div class='modal-text'>
		<h4 class="modal-title">User Settings</h4>
	</div>

	<span class='modal-body'>
		<dc-user-settings isLogin=false></dc-user-settings>
	</span>

	<span class='modal-footer'>
		<button type="submit" class="btn btn-outline-primary" (click)="closeModal(true)">Save</button>
		<button type="submit" class="btn btn-outline-danger" (click)="closeModal()">Cancel</button>
	</span>
	
</dev-center-modal>