@import '~@angular/material/theming';

@mixin dc-app-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  h1, h2, h3 {
    color: mat-color($primary) !important;
  }

  // copy to clip board colors
  .copy-warn {
    color: mat-color($warn) !important;
  }
  .copy-accent {
    color: mat-color($accent) !important;
  }

  // make all buttons act the same
  button.mat-primary {
    color: mat-color($primary, lighter) !important;
    &:hover {
      background-color: mat-color($primary, darker) !important;
    }
  }
  button.mat-warn {
    color: mat-color($warn, lighter) !important;
    &:hover {
      background-color: mat-color($warn, darker) !important;
    }
  }

  // make all select dropdowns the same
  .mat-select-panel, .mat-menu-panel, .mat-menu-item {
    .mat-option, .mat-menu-item, .dropdown-item {
      &:hover {
        a {
          background-color: mat-color($primary, darker) !important;
        }
        background-color: mat-color($primary, darker) !important;
      }

      color: mat-color($primary, lighter) !important;
      background-color: mat-color($primary) !important;
    }

    &::after {
      color: mat-color($primary, lighter) !important;
    }

    background-color: mat-color($primary) !important;
    color: mat-color($primary, lighter) !important;
  }

  // main content bg
  mat-sidenav-content {
    background-color: mat-color($accent);
  }

  // footer
  mat-sidenav-container {
    .footer {
      color: mat-color($primary, lighter);
      background-color: mat-color($primary, darker);
    }
  }

  .error-notification-overlay {
    color: mat-color($warn, default-contrast);
    background-color: mat-color($warn);
  }

  .info-notification-overlay {
    color: mat-color($accent, default-contrast);
    background-color: mat-color($accent);
  }

  .success-notification-overlay {
    color: mat-color($success-colors, default-contrast);
    background-color: mat-color($success-colors);
  }

  .warning-notification-overlay {
    color: mat-color($warning-colors, default-contrast);
    background-color: mat-color($warning-colors);
  }
}
