$dc-black-primary: mat-palette($mat-grey, 700, 300, 900);
$dc-black-accent: mat-palette($mat-blue-grey, 400);
$dc-black-warn: mat-palette($mat-red, 500);

$dc-black-theme: mat-dark-theme(
  $dc-black-primary,
  $dc-black-accent,
  $dc-black-warn
);
