@import '~@angular/material/theming';

@mixin dc-jspanel-component-theme($theme) {

  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);
  $foreground: map-get($theme, foreground);


  .jsPanel-minimized-container .jsPanel-replacement {
    background-color: mat-color($primary, lighter)  !important;
  }

  .jsPanel {

    .jsPanel-headerbar {
      background-color: mat-color($primary);

      .modal-header, .jsPanel-icon path {
        color: mat-color($primary, lighter) !important;
      }
    }

    .jsPanel-content {
      background-color: mat-color($accent);
    }

    .jsPanel-ftr {
      border-top: mat-color($warn);
      color: mat-color($primary, lighter) !important;
      background-color: mat-color($primary);
    }
  }
}
