$dc-nature-primary: mat-palette($mat-brown, 700, 300, 900);
$dc-nature-accent: mat-palette($mat-deep-purple, 300);
$dc-nature-warn: mat-palette($mat-red, 600);

$dc-nature-theme: mat-light-theme(
  $dc-nature-primary,
  $dc-nature-accent,
  $dc-nature-warn
);
