@import '~@angular/material/theming';

@mixin nav-bar-module-theme($theme) {
    $primary: map-get($theme, primary);


    mat-toolbar {
        mat-form-field {
            color: mat-color($primary, lighter) !important;
            background-color: mat-color($primary) !important;
        }

        .logo {
            cursor: pointer;
            color: mat-color($primary, lighter) !important;
            background-color: mat-color($primary) !important;
        }
    }
}