@import '~@angular/material/theming';

@mixin dc-notifications-component-theme($theme) {
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  #toast-container {
    margin-top: 75px;

    .toast {
      width: 350px;

      &.toast-info {
        background-color: mat-color($primary) !important;
      }

      &.toast-error {
        background-color: mat-color($warn) !important;
      }
    }
  }
}
