<dc-progress-bar></dc-progress-bar>

<dc-loading-table [loadingTable]=loadingIndicator [tableTitle]=tableTitle (refreshData)="getMetrics()">
	<table class='table-striped'>
		<thead>
			<tr>
				<th>Display Name</th>
				<th>Username</th>
				<th>Estimate UCT</th>
				<th>Logged UCT</th>
				<th>Percent Logged UCT</th>
				<th>Estimate Total</th>
				<th>Logged Total</th>
				<th>Percent Logged</th>
				<th>QA Fails</th>
				<th>CR Fails</th>
				<th>UCT Fails</th>
				<th>Total Fails</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor='let user of userProfilesFilter'>
				<td><span>{{user.displayName}}</span></td>
				<td><span>{{user.username}}</span></td>
				<td><span>{{user.estimateUctTotal}}</span></td>
				<td><span>{{user.loggedUctTotal}}</span></td>
				<td><span>{{user.percentLoggedUct}}%</span></td>
				<td><span>{{user.estimateTotal}}</span></td>
				<td><span>{{user.loggedTotal}}</span></td>
				<td><span>{{user.percentLogged}}%</span></td>
				<td><span>{{user.qaFails}}</span></td>
				<td><span>{{user.crFails}}</span></td>
				<td><span>{{user.uctFails}}</span></td>
				<td><span>{{user.totalFails}}</span></td>
			</tr>
		</tbody>
	</table>
</dc-loading-table>