
<form class="form-inline mr-15" #searchForm="ngForm" (ngSubmit)="submitInput(searchForm)">

	<select class="form-control mr-sm-2" name="searchSelection" (change)='changeInputType($event.target.value)'>
		<option *ngFor='let selc of validFormValues' [ngValue]='selc.value'>
			{{selc.placeholder}}
		</option>
	</select>
	
	<span *ngIf='searchType.secondDropdown'>
		<select class="form-control mr-sm-2" name="secondSearchSelection" (change)='changeSecondInputType($event.target.value)'>
			<option *ngFor='let selc of searchType.secondDropdown' [ngValue]='selc.value'>
				{{selc.name}}
			</option>
		</select>
	</span>
	

	<input class="form-control mr-sm-2" type="text" placeholder={{searchType.placeholder}}
	name="inputValue" [(ngModel)]="inputValue">

	<button class="btn btn-outline-success" type="submit">{{searchType.name}}</button>
</form>