@import 'styles-variables';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/variables';
@import "../node_modules/bootstrap/scss/mixins";

@import '../node_modules/ngx-toastr/toastr.css';

.text-primary{
    color: $blue;
}
.text-warning{
    color: $orange;
}
.text-success{
    color: $green;
}
.text-info{
    color: $purple;
}

.pointer {
    cursor: pointer;
}

.modal-footer button {
  margin-left: 10px;
}

@import '../node_modules/bootstrap/scss/code';
@import '../node_modules/bootstrap/scss/images';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/mixins/float';

@import 'themes/styles-reset';

@import '../node_modules/@angular/material/theming';

@include mat-core();

@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';
@import 'themes/black-theme.scss';
@import 'themes/nature-theme.scss';

@import 'themes/styles-reset.scss-theme';
@import 'themes/notifications.component.scss-theme';
@import 'themes/jspanel.component.scss-theme';
@import 'themes/app.component.scss-theme';
@import 'themes/loading-details.component.scss-theme';
@import 'themes/add-log.component.scss-theme';
@import 'themes/settings.component.scss-theme';
@import 'themes/comments.component.scss-theme';
@import 'themes/nav-bar.module.scss-theme';
@import 'themes/main-table.scss-theme';

@mixin custom-components-theme($theme) {
  @include dc-styles-reset-theme($theme);
  @include nav-bar-module-theme($theme);
  
  @include settings-component-theme($theme);
  @include dc-app-component-theme($theme);
  @include dc-notifications-component-theme($theme);
  @include dc-comments-component-theme($theme);
  @include dc-add-log-component-theme($theme);
  @include dc-jspanel-component-theme($theme);
  @include dc-loading-details-component-theme($theme);
  @include main-table-theme($theme);
}

.text-center {
	text-align: center;
}
.material-icons {
	cursor: pointer;
}

.float-right {
	float: right;
}

table, .full-width {
	width: 100%;
}

.align-footer{
	padding-right: 15px;	
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: inherit;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mat-card {
	border-radius: 0px;
}

.default-theme {
  @include angular-material-theme($dc-theme);
  @include custom-components-theme($dc-theme);
}

.light-theme {
  @include angular-material-theme($dc-light-theme);
  @include custom-components-theme($dc-light-theme);
}

.black-theme {
  @include angular-material-theme($dc-black-theme);
  @include custom-components-theme($dc-black-theme);
}

.nature-theme {
  @include angular-material-theme($dc-nature-theme);
  @include custom-components-theme($dc-nature-theme);
}



#toast-container {
  margin-top: 75px;

  .toast {
    width: 350px;
  }
}

@media (max-width: 1380px){
  #toast-container {
    margin-top: 100px;
  }
}
