<!-- key -->
<td>
	<div class='float-left'>
		<a target="_blank" href="{{config.jiraUrl}}/browse/{{ticket.key}}" title='Open in Jira'>{{ticket.key}}</a>
	</div>
	<div class="float-right">
		<i (click)="setPing.openPingModel()" class="material-icons"title='Reset pings'>record_voice_over</i>
	</div>
</td>

<!-- msrp -->
<td>
	<div class='float-left'>{{ticket.msrp}}</div>
	<div class="float-right">
		<i (click)="logWork.openLogModal()" class="material-icons" title='Add comment/time log'>alarm_add</i>
		<i (click)="jiraComments.openCommentModal()" class="material-icons"title='View comments'>storage</i>
	</div>
</td>

<!-- summary/state -->
<td class='summary-format'>{{ticket.summary}}</td>
<td>
	<div class='float-left'>
		<select (change)="stateChange(ticketState)" #ticketState>
			<option 
				*ngFor='let state of ticketStates' [value]="state.id"
				[attr.selected]="state.name==ticket.status ? 'true': null">
					{{state.name}}
			</option>
		</select>
	</div>
</td>

<!-- dates -->
<td>{{ticket.dates.started | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.duedate | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.estimate | worktime }}</td>
<td>{{ticket.dates.logged | worktime}}</td>
<td>{{ticket.dates.updated | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.created | amDateFormat:'LL'}}</td>

<!-- cru id -->
<td>
	<div *ngIf='ticket.crucible_id'>
		<a target="_blank" class='float-left' href="{{config.crucibleUrl}}/cru/{{ticket.crucible_id}}">
			{{ticket.crucible_id}}
		</a>
	</div>
</td>

<!-- user data -->
<td>
	<div>
		<img src="http://presence.q.att.com/presence/{{ticket.user_details?.username}}.gif">
		<a [href]="jira.chatUrlSanitize(ticket.user_details?.username)" title="Open chat with {{ticket.user_details?.username}}">
			{{ticket.user_details?.username}}
		</a>		
	</div>
	<div>
		<a href="mailto:{{ticket.user_details?.email_address}}?Subject=MSRP%20{{ticket.msrp}}" target="_top">
			{{ticket.user_details?.display_name}}
		</a>
	</div>
</td>

<!-- customer data -->
<td>
	<div>
		<img src="http://presence.q.att.com/presence/{{ticket.customer_details?.username}}.gif">
		<a [href]="jira.chatUrlSanitize(ticket.customer_details?.username)" title="Open chat with {{ticket.customer_details?.display_name}}">
			{{ticket.customer_details?.username}}
		</a>
	</div>
	<div>
		<a href="mailto:{{ticket.customer_details?.email_address}}?Subject=MSRP%20{{ticket.msrp}}" target="_top">
			{{ticket.customer_details?.display_name}}
		</a>
	</div>
</td>
	


<!-- modals for this ticket -->
<app-time-log 
	(statusChangeCancel)="statusChangeCancel()"
	(commentChangeEvent)="commentChangeEvent($event)" 
	[key]=ticket.key>
</app-time-log>

<app-status-modal 
	(statusChangeCancel)="statusChangeCancel()" 
	[crucible_id]=ticket.crucible_id 
	[key]=ticket.key>
</app-status-modal>

<app-qa-generator
	(statusChangeCancel)="statusChangeCancel()" 
	[key]=ticket.key
	[repos]=repos
	[msrp]=ticket.msrp>
</app-qa-generator>

<app-jira-comments 
	(commentChangeEvent)="commentChangeEvent($event)" 
	[key]=ticket.key 
	[attachments]=ticket.attachments
	[comments]=ticket.comments>
</app-jira-comments>

<app-set-pings 
	[key]=ticket.key
	[sprint]=ticket.sprint
	[branch]=ticket.branch
	[commit]=ticket.commit>
</app-set-pings>