<!-- key -->
<td>
	<div class='float-left'>
		<a target="_blank" href="{{config.jiraUrl}}/browse/{{ticket.key}}" title='Open in Jira'>{{ticket.key}}</a>
	</div>
	<div class="float-right">
		<i (click)="openPingModel()" class="material-icons" title='Branch Information'>record_voice_over</i>
	</div>
</td>

<!-- msrp -->
<td>
	<div class='float-left'>{{ticket.msrp}}</div>
	<div class="float-right">
		<i (click)="openLogModal()" class="material-icons" title='Add comment/time log'>alarm_add</i>
		<i (click)="openCommentModal()" class="material-icons"title='View comments'>storage</i>
	</div>
</td>

<!-- summary -->
<td class='summary-format'>
	<i class="material-icons" title='View Additional Data' 
	(click)="openAdditionalDataModal()">live_help</i>
	{{ticket.summary}}
</td>

<!-- state dropdown -->
<td>
	<dev-center-ticket-status
		[ticketStatus]=ticket.status
		[ticketKey]=ticket.key
		[ticketMsrp]=ticket.msrp
		[ticketCrucible]=ticket.crucible_id
		[repos]=repos
	></dev-center-ticket-status>
</td>

<!-- dates -->
<td>{{ticket.dates.started | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.duedate | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.estimate | worktime }}</td>
<td>{{ticket.dates.logged | worktime}}</td>
<td>{{ticket.dates.updated | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.created | amDateFormat:'LL'}}</td>

<!-- cru id -->
<td>
	<div class='float-left' *ngIf='ticket.crucible_id'>
		<a target="_blank" href="{{config.crucibleUrl}}/cru/{{ticket.crucible_id}}">
			{{ticket.crucible_id}}
		</a>
	</div>
	<div class='float-right' *ngIf='ticket.crucible_id'>
		<i title='Open Crucible as Reviewer' class="material-icons float-right" (click)="addReviewer()">
			history
		</i>
	</div>
</td>

<!-- user data -->
<td>
	<div>
		<img src="http://presence.q.att.com/presence/{{ticket.user_details?.username}}.gif">
		<a [href]="misc.chatUrlSanitize(ticket.user_details?.username)" title="Open chat with {{ticket.user_details?.username}}">
			{{ticket.user_details?.username}}
		</a>		
	</div>
	<div>
		<a href="mailto:{{ticket.user_details?.email_address}}?Subject=MSRP%20{{ticket.msrp}}" target="_top">
			{{ticket.user_details?.display_name}}
		</a>
	</div>
</td>

<!-- customer data -->
<td>
	<div>
		<img src="http://presence.q.att.com/presence/{{ticket.customer_details?.username}}.gif">
		<a [href]="misc.chatUrlSanitize(ticket.customer_details?.username)" title="Open chat with {{ticket.customer_details?.display_name}}">
			{{ticket.customer_details?.username}}
		</a>
	</div>
	<div>
		<a href="mailto:{{ticket.customer_details?.email_address}}?Subject=MSRP%20{{ticket.msrp}}" target="_top">
			{{ticket.customer_details?.display_name}}
		</a>
	</div>
</td>