*.pyc
ng-devCenter/src/app/shared/services/config.service.ts
ng-devCenter/mock-server/node_modules
ng-devCenter/src/environments
server/APIs/data/

client/src/environments/baseEnvironment.ts
ticket_history/node_modules/
ticket_history/keys.js