<mat-toolbar color="primary" class='nav-bar-shadow'>

	<!-- <img [src]="logo" /> -->
	  <span class='logo'>Dev Center</span>
	  
	<dc-dropdown-menu
		*ngIf='links?.jqlNavbar' 
		[navLinks]=links?.jqlNavbar 
	></dc-dropdown-menu>

	<dc-dropdown-menu 
		*ngIf='this.settings.username && this.settings.port && navBarItems?.DevLinks'
		[navLinks]=navBarItems?.DevLinks
		[baseUrl]=devBaseUrl
		[emberUrl]=emberBaseUrl
		[teamUrl]=teamBaseUrl
	></dc-dropdown-menu>

	<dc-dropdown-menu 
		*ngIf='navBarItems?.BetaLinks' 
		[navLinks]=navBarItems?.BetaLinks 
	></dc-dropdown-menu>

	<dc-dropdown-menu 
		*ngIf='navBarItems?.ProdLinks' 
		[navLinks]=navBarItems?.ProdLinks
	></dc-dropdown-menu>

	<dc-dropdown-menu 
		*ngIf='navBarItems?.HelpfulLinks' 
		[navLinks]=navBarItems?.HelpfulLinks 
	></dc-dropdown-menu>
	
	<span class="nav-link">
		<dc-log-time></dc-log-time>
	</span>
	
	<div class="nav-link nav-bar-actions">
		<dc-search-bar [emberBaseUrl]=emberBaseUrl></dc-search-bar>
		<dc-profile-dropdown></dc-profile-dropdown>
	</div>
  
</mat-toolbar>
