<div class="container">

	<dc-loading-table [loadingTable]=loadingIndicator [tableTitle]=tableTitle (refreshData)="getEditableItems()">
		<table class='table-striped edit-items' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th>Link Type</th>
					<th>Ember Route / Order Number</th>
					<th>Display Name</th>
					<th>Delete?</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor='let item of navbarItems;trackBy:trackByFn'>
					<td>
						<span *ngIf='item.isNotEditing'>{{item.type}}</span>
						<select class='form-control' *ngIf='!item.isNotEditing'>
							<option *ngFor="let dropdownItem of dropdownItems" [ngValue]="item.type"
							[attr.selected]="dropdownItem === item.type ? true : null">
								{{dropdownItem}}
							</option>
						</select>
					</td>

					<td>
						<span *ngIf='item.isNotEditing'>{{item.link}}</span>
						<input type="text" [ngClass]="{'hidden':item.isNotEditing}" [(ngModel)]='item.link'>
						<i class="material-icons" *ngIf='item.isNotEditing' (click)="editItem(item)" title='Edit Changes'>label_outline</i>
						<i class="material-icons" *ngIf='!item.isNotEditing' (click)="saveItem(item)" title='Save Changes'>done</i>
					</td>

					<td>
						<span *ngIf='item.isNotEditing'>{{item.name}}</span>
						<input type="text" [ngClass]="{'hidden':item.isNotEditing}" [(ngModel)]='item.name'>
						<i class="material-icons" *ngIf='item.isNotEditing' (click)="editItem(item)" title='Edit Changes'>label_outline</i>
						<i class="material-icons" *ngIf='!item.isNotEditing' (click)="saveItem(item)" title='Save Changes'>done</i>
					</td>
					<td><i class="material-icons delete-icon">delete</i></td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-outline-primary" (click)='openModal()'>Add New Route</button>
	</dc-loading-table>
</div>



<dev-center-modal (modalEvent)="closeModal()">
	<div class='modal-text'>
		<h4 class="modal-title">Add new Link</h4>
	</div>

	<span class='modal-body'>
		TEST
	</span>

	<span class='modal-footer'>
		<button type="button" class="btn btn-outline-danger" (click)="closeModal()">Close</button>
	</span>
</dev-center-modal>