<div class="container">

	<dc-loading-table [loadingTable]=loadingIndicator [tableTitle]=tableTitle (refreshData)="getEditableItems()">
		<table class='table-striped edit-items' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
			<thead>
				<tr>
					<th>Link Type</th>
					<th>Ember Route / Order Number</th>
					<th>Display Name</th>
					<th>Delete</th>
					<th>Edit/Save</th>
				</tr>
			</thead>

			<tbody>
				<tr *ngFor='let item of navbarItems;trackBy:trackByFn'>
					<td>
						<span *ngIf='item.isNotEditing'>{{item.type}}</span>
						<select class='form-control' *ngIf='!item.isNotEditing'>
							<option *ngFor="let dropdownItem of dropdownItems" [ngValue]="item.type"
							[attr.selected]="dropdownItem === item.type ? true : null">
								{{dropdownItem}}
							</option>
						</select>
					</td>

					<td>
						<span *ngIf='item.isNotEditing'>{{item.link}}</span>
						<input type="text" [ngClass]="{'hidden':item.isNotEditing}" [(ngModel)]='item.link'>
					</td>

					<td>
						<span *ngIf='item.isNotEditing'>{{item.name}}</span>
						<input type="text" [ngClass]="{'hidden':item.isNotEditing}" [(ngModel)]='item.name'>
					</td>

					<!-- delete/edit/save -->
					<td><i class="material-icons delete-icon">delete</i></td>
					<td>
						<i class="material-icons text-warning" *ngIf='item.isNotEditing' (click)="editItem(item)" title='Edit Changes'>label_outline</i>
						<i class="material-icons text-success" *ngIf='!item.isNotEditing' (click)="saveItem(item)" title='Save Changes'>done</i>
					</td>
				</tr>
			</tbody>
		</table>

		<button type="button" class="btn btn-outline-primary" (click)='openModal()'>Add New Route</button>
	</dc-loading-table>
</div>



<dev-center-modal (modalEvent)="submitInput(newNavForm)">
	<div class='modal-text'>
		<h4 class="modal-title">Add new Link</h4>
	</div>

	<span class='modal-body'>
		<form #newNavForm="ngForm" (ngSubmit)="submitInput(newNavForm)">
			<div class="form-group">
				<label for='linkType'>Link Type:</label>
				<select class="form-control" name="linkType" [(ngModel)]="linkType">
					<option value="" disabled>Select a link type</option>
					<option *ngFor="let dropdownItem of dropdownItems">
						{{dropdownItem}}
					</option>
				</select>
			</div>
			<div class="form-group">
				<label for='emberRoute'>Ember Route/Order Number:</label>
				<input class="form-control mr-sm-2" type="text" name="emberRoute" [(ngModel)]="emberRoute">
			</div>
			<div class="form-group">
				<label for='displayName'>Display Name:</label>
				<input class="form-control mr-sm-2" type="text" name="displayName" [(ngModel)]="displayName">
			</div>
		</form>
	</span>

	<span class='modal-footer'>
		<button type="submit" class="btn btn-outline-primary" (click)="submitInput(newNavForm, true)">Save</button>
		<button type="button" class="btn btn-outline-danger" (click)="submitInput(newNavForm)">Close</button>
	</span>
</dev-center-modal>