$header-bg: #0275d8;
$darkbg: #292b2c;

.hidden {
	visibility: hidden;
}

.dc-modal {

	position: absolute;
	top: 100px;
  	// left: 40%;
  	// transform: translateX(-50%);
  	background-color: $darkbg;
  	border: 1px solid black;


	&.xlg{
		max-width: 1200px;
		width: 70%;
		left: calc(50% - 600px);
	}
  	&.lg {
		max-width: 900px;
		width: 70%;
		left: calc(50% - 450px);
	}
	&.md {
		max-width: 500px;
		width: 70%;
		left: calc(50% - 250px);
	}

	.modal-header {
		background-color: $header-bg;
		color: #FFF;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		border-bottom: 0px;
		padding: 0px;
		margin: 0px;

		h4, button{
			padding-left: 15px;
			margin-top: 15px;
			justify-content: space-between;
		}

		.close {
			margin: 0px;
			color: #FFF;
		}

		.icon {
			cursor: default;
		}

		.material-icons {
			color: #fff;
			font-size: 35px;

			&:hover {
				color: #fff;
			}
		}
	}

	.dc-modal-body {
		padding: 20px;
	}

	.dc-modal-footer{
		border-top: 0px;
		padding: 20px;
		button {
			float:right;
			margin-left: 20px;
		}
	}

}
