$headerbg: #0275d8;
$darkbg: #292b2c;
$textcolor: #ffffff;

.hidden {
	display: none;
}

.jsPanel-theme-default > .jsPanel-hdr * {
	color: $textcolor !important;
}

.jsPanel {

	.jsPanel-headerbar {
		background-color: $headerbg  !important;

		.modal-header {
			border-bottom: none;
			padding: 0;
		}

		.modal-title {
			font-size: 20px;
		}
	}

	.jsPanel-content {
		padding: 1rem;
		color: $textcolor;
	}

	.jsPanel-content, .jsPanel-ftr {
		background-color: $darkbg  !important;

		.modal-footer {
			border-top: none;

			.btn {
				border-radius: 0 !important;
			}
		}
	}
}

#jsPanel-replacement-container {
	.jsPanel-title{
		color: $darkbg;
	}
}