$header-bg: #0275d8;
$darkbg: #292b2c;

.qaGen {
	.modal-dialog {
		max-width: 1000px;
		width: 70%;
	}
}

.ticketComments,  {
	.modal-dialog {
		max-width: 1200px;
		width: 70%;
	}
}

.setPings, .timeLog, .navbarAbout {
	.modal-dialog {
		max-width: 700px;
		width: 70%;
	}
}

.ticketDetails {
	.modal-dialog {
		max-width: 800px;
		width: 70%;
	}
}


.modal-dialog {
	margin: 5% auto;
}

.modal-content {
	border-radius: 0;
	background-color: #333;
	color: white;

	.card, textarea, .form-control, .form-control:focus {
		border-radius: 0;
		background-color: #333;
		color: white;
	}

	tr:nth-of-type(odd) {
		background-color: $darkbg !important;
	}

	tr:nth-of-type(even) {
		background-color: #333 !important;
	}

	.card-header {
		background-color: $darkbg;
	}

	.modal-footer, .modal-header {
		border-top: 0;
		border-bottom: 0;
	}

	button {
		border-radius: 0 !important;
	}
}


.modal-header {
	background-color: $header-bg;
	color: #FFF;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0px;
	margin: 0px;

	h4, button {
		margin-top: 15px;
		justify-content: space-between;
	}

	h4 {
		padding-left: 15px;
	}

	.close {
		margin: 0px;
		color: #FFF;
	}

	.icon {
		cursor: default;
	}

	.material-icons {
		color: #fff;
		font-size: 35px;

		&:hover {
			color: #fff;
		}
	}
}


