<button mat-menu-item [matMenuTriggerFor]="profileMenu" *ngIf='profile'>
  <img src="{{profile?.avatar}}" alt=""> 
  {{profile?.displayName}}
  <fa-icon icon="caret-down"></fa-icon>
</button>
<mat-menu #profileMenu="matMenu">
  <button mat-menu-item (click)='modal.openModal()'>
    <a>User Settings</a>
  </button>

  <button mat-menu-item>User Metrics</button>
  <button mat-menu-item>About</button>
  <dc-logout></dc-logout>
  
</mat-menu>

<dc-panel>
  <div class='modal-header'>User Settings</div>
  <span class='modal-body'>
    <dc-settings (updateProfile)="modal.closeModal()"></dc-settings>
  </span>
</dc-panel>


