<!-- <dc-watchers [watchers]=ticket?.watchers [key]=ticket?.key></dc-watchers> -->

<mat-icon class='text-primary' title='' (click)="openBranchModal()">record_voice_over</mat-icon>
<mat-icon class='text-warning' title='Add Comment/Worklog' (click)="openLogModal()">add_circle_outline</mat-icon>
<mat-icon class='text-success' title='View Comments' (click)="openCommentsModal()">storage</mat-icon>
<mat-icon class='text-info' title='View Additional Ticket Data' (click)="openAdditionalDetails()">live_help</mat-icon>
