<i (click)="openBranchModal()" class="material-icons text-primary pointer" title='Branch Information'>record_voice_over</i>
<i (click)="openLogModal()" class="material-icons text-warning pointer" title='Add Comment/Worklog'>add_circle_outline</i>
<i (click)="openCommentsModal()" class="material-icons text-success pointer" title='View Comments'>storage</i>
<i (click)="openAdditionalDetails()" class="material-icons text-info pointer" title='View Additional Ticket Data' >live_help</i>

<!-- <dc-watchers [watchers]=ticket?.watchers [key]=ticket?.key></dc-watchers> -->