<!-- <i (click)="openPingModal(ticket)" class="material-icons text-primary" title='Branch information'>record_voice_over</i> -->
<!-- <i (click)="openLogModal(ticket)" class="material-icons text-warning" title='Add comment/work log'>add_circle_outline</i> -->
<!-- <i (click)="openCommentsModal(ticket)" class="material-icons text-success"title='View comments'>storage</i> -->
<i class="material-icons" title='View additional ticket data' (click)="expandRow.emit()">live_help</i>

<!-- <dc-watchers [watchers]=ticket?.watchers [key]=ticket?.key></dc-watchers> -->