<dc-loading-table [loadingTable]=loadingTickets [loadingIcon]=loadingIcon [tableTitle]=tableTitle (refreshData)="getTickets()" (stopRefresh)="stopGetTickets()">
	<div class='form-inline float-right'>
		<input class='form-control mr-sm-2 filterInput' type="text" placeholder='Filter tickets' #filterInput (keyup)="filterTable()">
		<select class='form-control mr-sm-2 filterInput' name="searchSelection" (change)='filterByStatus($event.target.value)'>
			<option value=""></option>
			<option *ngFor='let status of allTicketStatuses' [ngValue]='status'>
				{{status}}
			</option>
		</select>
	</div>
	
	<table #table class='table table-striped tablesorter'>
		<thead>
			<tr>
				<th>Key</th>
				<th>MSRP</th>
				<th>Actions</th>
				<th>Summary</th>
				<th>Status</th>
				<th>Start Date</th>
				<th>Due Date</th>
				<th>Estimate</th>
				<th>Logged</th>
				<th>Last Update</th>
				<th>Created</th>
				<th>Pull Requests</th>
				<th>Assignee</th>
				<th>Customer</th>
			</tr>
		</thead>

		<tbody #tbody>
			<tr *ngFor='let ticket of filteredTickets' [ticket]=ticket id='{{ticket.key}}' class="appTicket"></tr>
		</tbody>
	</table>
</dc-loading-table>

