<dc-loading-table [loadingTable]=loadingTickets [loadingIcon]=loadingIcon [tableTitle]=tableTitle (refreshData)="getTickets()" (stopRefresh)="stopGetTickets()">
	<table class='table-striped' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
		<thead>
			<tr>
				<th>Key</th>
				<th>MSRP</th>
				<th>Actions</th>
				<th>Summary</th>
				<th>Status</th>
				<th>Start Date</th>
				<th>Due Date</th>
				<th>Estimate</th>
				<th>Logged</th>
				<th>Last Update</th>
				<th>Created</th>
				<th>Crucible</th>
				<th>Assignee</th>
				<th>Customer</th>
			</tr>
		</thead>

		<tbody>
			<tr *ngFor='let ticket of tickets' [ticket]=ticket id='{{ticket.key}}' class="appTicket"></tr>
		</tbody>
	</table>
</dc-loading-table>

