<dc-loading-table [loadingTable]=loadingTickets [loadingIcon]=loadingIcon [tableTitle]=tableTitle (refreshData)="getTickets()" (stopRefresh)="stopGetTickets()">
	<div>
		<input type="text" class='filterInput' placeholder='Filter tickets' #filterInput (keyup)="filterTable()">
	</div>
	
	<table #table class='table table-striped tablesorter'>
		<thead>
			<tr>
				<th>Key</th>
				<th>MSRP</th>
				<th>Actions</th>
				<th>Summary</th>
				<th>Status</th>
				<th>Start Date</th>
				<th>Due Date</th>
				<th>Estimate</th>
				<th>Logged</th>
				<th>Last Update</th>
				<th>Created</th>
				<th>Crucible</th>
				<th>Assignee</th>
				<th>Customer</th>
			</tr>
		</thead>

		<tbody #tbody>
			<tr *ngFor='let ticket of tickets' [ticket]=ticket id='{{ticket.key}}' class="appTicket"></tr>
		</tbody>
	</table>
</dc-loading-table>

