$darkblk: #292b2c;
$offdark: #333;

.filterInput, .filterInput:focus {
	background-color: $darkblk;
    border-radius: 0;
	color: #fff;
	padding: .375rem .75rem;
	font-size: 1.1em;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	margin-bottom: 20px;
	float: right;

	option {
		background-color: $darkblk;
		color: #fff;
	}
}


.ngx-datatable {
	.datatable-body-cell {
		padding-left: 5px;
		padding-right: 5px;
	}

	.datatable-row-wrapper {
		padding-top: 10px;

		&:nth-child(odd) {
			background-color: $offdark;
		}
	}

	.summary-td {
		word-break: break-all;
		min-width: 300px;
		max-width: 400px;
	}

	.actions-td {
		max-width: 120px;
	}

	.dates-td {
		max-width: 100px;
	}

	.key-copy {
		position: absolute;
		right: 10000px;
	}

	a:hover {
		text-decoration: none;
	}
}


