$darkblk: #292b2c;
$linkhover: #0056b3;

.dropdown-menu {
	border-radius: 0;

	.dropdown-item:hover {
		background-color: $linkhover;
		color: #fff;
	}
}

.dropdown-submenu-icon {
	color: $darkblk;
}

.dropdown-submenu{
	position: relative;

	.show-submenu {
		display: block;
		position: absolute;
		top: -10px;
		left: 100%;
	}

	.dropdown-submenu-icon {
		position: absolute;
		top: 8px;
		right: 0;
		font-size: 17px;
	}
}