<li class="dropdown-submenu" dropdownSubmenu>
	<a class="dropdown-item" data-toggle="dropdown">{{navLinks.name}}<i class="material-icons dropdown-submenu-icon">play_arrow</i></a>

	<ul class="dropdown-menu" dropdownSubmenuMenu>
		<li *ngFor='let navLink of navLinks.items'>

			<!-- submenu's submenu -->
			<dc-dropdown-submenu *ngIf='navLink.items; else linkItem'
					[navLinks]=navLink
					[baseUrl]=baseUrl
					[emberUrl]=emberUrl
				>
			</dc-dropdown-submenu>

			<!-- single link -->
			<ng-template #linkItem>
				<!-- link with given base url -->
				<a *ngIf='navLink.hasFullUrl; else fullLink' class="dropdown-item" target="_blank" href="{{navLink.link}}">
					{{navLink.name}}
				</a>

				<!-- full link given -->
				<ng-template #fullLink>
					<a 
						*ngIf='navLinks.isEmber; else baseUrlLink' 
						class="dropdown-item" target="_blank" 
						href="{{emberUrl}}/{{navLink.link}}">
						{{navLink.name}}
					</a>

					<ng-template #baseUrlLink>
						<a class="dropdown-item" target="_blank" href="{{baseUrl}}/{{navLink.link}}">
							{{navLink.name}}
						</a>
					</ng-template>
				</ng-template>
			</ng-template>
		</li>
	</ul>
</li>