<dev-center-modal (modalEvent)="submitQA('')" [customModalCss]=customModalCss>

	<div class='modal-text'>
		<h4 class="modal-title">QA Generator</h4>
	</div>

	<span class='modal-body'>
		<form [formGroup]="qaForm">
			<h4>Your Branches:</h4>

			<div class='loading' *ngIf="loadingBranches; else ticketTable">
				<div class="cs-loader">
					<div class="cs-loader-inner">
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
					</div>
				</div>
			</div>

			<ng-template #ticketTable>
				<div formArrayName='branches'>
					<div class="repoDropdownParent" *ngFor="let repo of branches.controls; index as i" [formGroupName]="i">
						<div class="form-group">
							<div class="row">
								<!-- all repos -->
								<div class='col-2'>
									<label *ngIf='i==0'>Repo:</label>
									<select class="form-control" formControlName="repositoryName">
										<option value="" disabled>Select a repo</option>
										<option 
											[selected]="allRepo.value==branches.controls[i].controls.repositoryName.value"
											*ngFor='let allRepo of branches.controls[i].controls.allRepos.controls'>
											{{allRepo.value}}
										</option>
									</select>
								</div>
								<!-- branch -->
								<div class='col-6'>
									<label *ngIf='i==0'>Branch:</label>
									<select class="form-control" formControlName="reviewedBranch">
										<option value="" disabled>Select a branch</option>
										<option
											[selected]="allBranch.value==branches.controls[i].controls.reviewedBranch.value"
											*ngFor='let allBranch of branches.controls[i].controls.allBranches.controls'>
											{{allBranch.value}}
										</option>
									</select>
								</div>
								<!-- branches from -->
								<div class='col-3'>
									<label for="baseBranch" *ngIf='i==0'>Branched From:</label>
									<select class="form-control"  formControlName="baseBranch">
										<option value="" disabled>Select a base branch</option>
										<option 
											[selected]="allBranch.value==branches.controls[i].controls.baseBranch.value"
											*ngFor='let allBranch of branches.controls[i].controls.allBranches.controls'>
											{{allBranch.value}}
										</option>
									</select>
								</div>
								<!-- delete -->
								<div class='col-1'>
									<i class="material-icons" [ngClass]="{'delete-icon': i==0, 'delete-icon-next': i!=0}" (click)='removeBranch(i)'>delete</i>
								</div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="add-repo">
					<i class="material-icons text-success" (click)='addBranch({})'>add_box</i> 
					<span>Add Repo</span>
				</div>
			</ng-template>

			<!-- QA steps -->
			<h4>QA Steps:</h4>
			<div class="form-group">
				 <textarea class="form-control" name="qaSteps" id="qaSteps" rows=15 formControlName="qaSteps"></textarea>
			</div>

			<!-- checkboxes -->
			<div class="form-group" formGroupName='selections'>
				<div class="row">
					<div class="col">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='pcrNeeded' formControlName="pcrNeeded">
								Auto set to "PCR - Needed" component
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='codeReview' formControlName="codeReview">
								Auto set to "Code Review" status
							</label>
						</div>
					</div>
					<div class="col">
						<span class="float-right">
							<label for="">Log Time:</label>
							<ngb-timepicker class='float-right button-border' name="logTime" formControlName="logTime" [hourStep]="hourStep" [minuteStep]="minuteStep"></ngb-timepicker>
						</span>
					</div>
				</div>
			</div>
		</form>
	</span>

	<span class='modal-footer'>
		<button type="submit" (click)="submitQA('save')" class="btn btn-outline-primary">Generate</button>
		<button type="button" class="btn btn-outline-danger" (click)="submitQA('')">Cancel</button>
	</span>
	
</dev-center-modal>