<mat-select [ngStyle]="{'border': borderColor}" name="ticket-status" [(ngModel)]="currentStatus"  (selectionChange)='changeStatus($event)' [disabled]='loading'>
    <mat-option *ngFor="let select of transitions" [value]="select">
        {{select}}
    </mat-option>
</mat-select>


<dc-panel [modalSize]='"md"' (modalCloseEvent)='confirmCancelStatus()'>
    <div class='modal-header'>{{key}} Status</div>

    <span class='modal-body'>
        <div class="container status-extra-container">

            <div class="row">
                <div class="col-md-12">
                    <p>
                        Are you sure you want to change the ticket status for <span class='status-highlight'>{{key}}</span> from <span class='status-highlight'>{{originalStatus}}</span> to <span class='status-highlight'>{{currentStatus}}</span>?
                    </p>
                </div>
            </div>

            <div class='row'>
                <section class="col-md-12">
                    <dc-branch-info-body 
                        *ngIf='showBranchInfo' 
                        [sprint]=ticket?.sprint 
                        [branch]=ticket?.branch 
                        [commit]=ticket?.commit
                        [key]=key 
                        [epicLink]=ticket?.epicLink
                    ></dc-branch-info-body>

                    <mat-card class='mat-elevation-z8 status-mat-card-margin'>
                        <mat-form-field class='full-width'>
                            <mat-label>Comment</mat-label>
                            <textarea matInput rows=5 name='comment' [(ngModel)]="comment"></textarea>
                        </mat-form-field>

                        <mat-checkbox name='privateComment' [(ngModel)]="privateComment">Developers Only</mat-checkbox>
                    </mat-card>

                    <mat-card class='mat-elevation-z8 status-mat-card-margin' *ngIf='showUctNotReady'>
                        <mat-checkbox name='uctNotReady' [(ngModel)]="uctNotReady">UCT Not Ready</mat-checkbox>
                    </mat-card>
                </section>
            </div>
        </div>
    </span>

    <span class='modal-footer align-footer'>
        <button mat-raised-button color='primary' (click)="confirmChangeStatus()">
            Yes
        </button>

        <button mat-raised-button color='primary' (click)="confirmCancelStatus()">
            No
        </button>
    </span>
</dc-panel>