<mat-select [ngStyle]="{'border': borderColor}" name="ticket-status" [(ngModel)]="changedStatusCode"  (selectionChange)='changeStatus($event)'>
    <mat-option *ngFor="let select of transitions" [value]="select?.status_code">
        {{select?.status_name}}
    </mat-option>
</mat-select>


<dc-panel [modalSize]='"md"'>
    <div class='modal-header'>{{key}} Status</div>

    <span class='modal-body'>
        Are you sure you want to change the ticket status for <span class='status-highlight'>{{key}}</span> from <span class='status-highlight'>{{originalStatusName}}</span> to <span class='status-highlight'>{{changedStatusName}}</span>?
        
        <dc-branch-info-body 
            *ngIf='showBranchInfo' 
            [sprint]=ticket?.sprint 
            [branch]=ticket?.branch 
            [commit]=ticket?.commit 
            [key]=key 
            [epicLink]=ticket?.epicLink
        ></dc-branch-info-body>
    </span>

    <span class='modal-footer align-footer'>
        <button mat-raised-button color='primary' (click)="confirmChangeStatus()">
            Yes
        </button>

        <button mat-raised-button color='primary' (click)="confirmCancelStatus()">
            No
        </button>
    </span>
</dc-panel>