<select (change)="stateChange(ticketState)" #ticketState
	[ngClass]="{
		'uct-ready': ticketStatus === allStatuses.UCTREADY.frontend,
		'ready-for-release': ticketStatus === allStatuses.RELEASE.frontend,
		'pcr-working': ticketStatus === allStatuses.PCRWORK.frontend,
		'in-uct': ticketStatus === allStatuses.INUCT.frontend,
		'merge-code': ticketStatus === allStatuses.MERGECODE.frontend,
		'merge-conflict': ticketStatus === allStatuses.MERGECONF.frontend,
		'in-qa': ticketStatus === allStatuses.INQA.frontend
	}"
>
	<option 
		*ngFor='let state of ticketStates' [value]="state.id"
		[attr.selected]="state.name==ticketStatus ? 'true': null">
			{{state.name}}
	</option>
</select>


<dev-center-modal (modalCloseEvent)='closeModal()'>
	<div class='modal-header'>Status change to '{{statusName}}'?</div>

	<span class='modal-body'>
		<p>Would you like to change the status of {{key}} to '{{statusName}}'?</p>
	</span>

	<span class='modal-footer'>
		<button type="button" class="btn btn-outline-primary" (click)='closeModal(true)'>
			Change to {{statusName}}
		</button>
		<button type="button" class="btn btn-outline-danger"  (click)='closeModal()'>
			Cancel
		</button>
	</span>
</dev-center-modal>