<table class="table">
	<tbody>
		<tr>
			<td>Master Branch</td>
			<td>
				<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(masterBranchInput)">note</i>
				{{masterBranch}} 
				<input class='hidden-clip' type="text" #masterBranchInput value={{masterBranch}}>
			</td>
		</tr>
		<tr>
			<td>Branch</td>
			<td>
				<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(branchInput)">note</i>
				{{branch}} 
				<input class='hidden-clip' type="text" #branchInput value={{branch}}>
			</td>
		</tr>
		<tr>
			<td>Commit</td>
			<td>
				<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(commitInput)">note</i>
				{{commit}} 
				<input class='hidden-clip' type="text" #commitInput value={{commit}}>
			</td>
		</tr>
	</tbody>
</table>