<mat-toolbar color="primary">
	<div class="branding"><img [src]="logo" />
  	<span data-testid="title">Dev Center</span>
	</div>

	<dc-dropdown-menu 
			*ngIf='navBarItems?.BetaLinks' 
			[navLinks]=navBarItems?.BetaLinks 
			[baseUrl]='"test"'
	></dc-dropdown-menu>

	<dc-dropdown-menu 
		*ngIf='navBarItems?.ProdLinks' 
		[navLinks]=navBarItems?.ProdLinks
	></dc-dropdown-menu>

	<dc-dropdown-menu 
		*ngIf='navBarItems?.HelpfulLinks' 
		[navLinks]=navBarItems?.HelpfulLinks 
		[baseUrl]='"configwikiUrl"'
	></dc-dropdown-menu>
  
</mat-toolbar>
