
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h1>TEST</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<span class='refresh-button' [ngClass]="{'loading': isLoading}" *ngIf='isLoading;'>
				<i class="material-icons">cached</i>
			</span>

			<div [hidden]='isLoading'>
				<table class='table-striped' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
					<thead>
						<tr>
							<th>Key</th>
							<th>MSRP</th>
							<th>Summary</th>
							<th>Status</th>
							<th>Start Date</th>
							<th>Due Date</th>
							<th>Estimate</th>
							<th>Logged</th>
							<th>Crucible</th>
							<th>ATTuid</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor='let ticket of openTickets' id='{{ticket.key}}'>
							<td>{{ticket.key}}</td>
							<td><a target="_blank" href="{{jiraUrl}}/browse/{{ticket.key}}">{{ticket.msrp}}</a></td>
							<td class='summary-format'>{{ticket.summary}}</td>
							<td>
								<div>{{ticket.status}}</div>
								<div>{{ticket.component}}</div>
							</td>
							<td>{{ticket.dates.started | amDateFormat:'LL'}}</td>
							<td>{{ticket.dates.duedate | amDateFormat:'LL'}}</td>
							<td>{{ticket.dates.estimate | worktime }}</td>
							<td>{{ticket.dates.logged | worktime}}</td>
							<td>
								<span *ngIf='ticket.crucible_id'>
									<a target="_blank" href="{{crucibleUrl}}/cru/{{ticket.crucible_id}}">{{ticket.crucible_id}}</a>
									<i class="material-icons" title='PCR Pass/Complete' (click)="openModal(ticket.crucible_id, ticket.key, 'pass', statusModal)">done</i>
								</span>
							</td>
							<td>{{ticket.username}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<!-- Status Model -->
<ng-template #statusModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">{{statusModelTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{statusModelMessage}}</p>
  </div>
  <div class="modal-footer" *ngIf='modalType == "pass"'>
    <button type="button" class="btn btn-outline-dark" (click)="c('pass')">PCR Pass</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('complete')">PCR Complete</button>
    <button type="button" class="btn btn-outline-dark" (click)="c()">Cancel</button>
  </div>
</ng-template>


