<ng-template #statusModal let-c="close" let-d="dismiss">

	<div class="modal-header">
		<h4 class="modal-title">{{statusName}}</h4>

		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body" [ngSwitch]="statusType">
		<p>Would you like change to '{{statusName}}'?</p>
	</div>

	<div class="modal-footer" [ngSwitch]="statusType">
		<button type="button" class="btn btn-outline-success" (click)="c()">
			Change to {{statusName}}
		</button>
		<button type="button" class="btn btn-outline-danger" (click)="d()">Cancel</button>
	</div>

</ng-template>
