.invalid {
	border: 1px red solid;
		
	&:focus {
		border-color: red;
		box-shadow: 0 0 0 0.2rem rgba(255,0,0,.5);
	}
}

.login {
	margin-top: 100px;
	margin-bottom: 100px;
}

.buttons {
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: end;
	justify-content: flex-end;

	.btn {
		border-radius: 0;
		margin-right: 5px;
	}
}