<div [ngClass]="{'container login': isLogin == true}">
	<div [ngClass]="{'row': isLogin == true}">
		<div class='col-sm-3' *ngIf='isLogin == true'></div>
		<div [ngClass]="{'col-sm-6': isLogin == true}">
			<form [formGroup]="userSettingsForm">
				<!-- username -->
				<div class="form-group">
					<label for="username">Username:</label>
					<input formControlName="username" placeholder="Enter username" autocomplete="username"
					type="text" class="form-control" [class.invalid]="username.invalid">
					<!-- invalids -->
					<div class='text-danger' *ngIf='username.invalid'>
						<span *ngIf="username.errors.required">Username required</span>
						<span *ngIf="!username.errors.required && username.errors.usernameValidator">Invalid username</span>
					</div>
				</div>

				<!-- password -->
				<div class="form-group">
					<label for="password">Password:</label>
					<input type="password" class="form-control" [class.invalid]="password.invalid"
					formControlName='password' placeholder="Password" autocomplete="current-password">
					<!-- invalids -->
					<div class='text-danger' *ngIf='password.invalid'>
						<span *ngIf="password.errors.required">Password required</span>
					</div>
				</div>

				<!-- port -->
				<div class="form-group">
					<label for="port">Port:</label>
					<input type="text" class="form-control" [class.invalid]="port.invalid" 
					formControlName='port' placeholder="Port" autocomplete="off">
					<!-- invalids -->
					<div class='text-danger' *ngIf='port.invalid'>
						<span *ngIf="port.errors.required">Port required</span>
						<span *ngIf="!port.errors.required && port.errors.portValidator">Invalid port</span>
					</div>
				</div>

				<!-- dev server url -->
				<div class="form-group">
					<label for="devServer">Development Server:</label>
					<!-- ember select -->
					<select formControlName="devServer" class='form-control'>
						<option disabled>Please choose...</option>
						<option *ngFor="let server of user.devServers" [ngValue]="server.value" 
						[attr.selected]="server.value === user.devServer ? true : null">
							{{server.label}}
						</option>
					</select>
					<div class='text-danger' *ngIf='devServer.invalid'>
						<span *ngIf="devServer.errors.required">Development Server required</span>
					</div>
				</div>

				<!-- ember url -->
				<div class="form-group">
					<label for="emberUrl">Ember Url:</label>
					<!-- ember select -->
					<select formControlName="emberUrl" class='form-control'>
						<option disabled>Please choose...</option>
						<option *ngFor="let emberBuild of user.emberBuilds" [ngValue]="emberBuild.value"
						[attr.selected]="emberBuild.value === user.emberUrl ? true : null">
							{{emberBuild.label}}
						</option>
					</select>
					<div class='text-danger' *ngIf='emberUrl.invalid'>
						<span *ngIf="emberUrl.errors.required">Ember URL required</span>
					</div>
				</div>

				<!-- team ember url -->
				<div class="form-group">
					<label for="teamUrl">TeamDB Ember Url:</label>
					<!-- team ember select -->
					<select formControlName="teamUrl" class='form-control'>
						<option disabled>Please choose...</option>
						<option *ngFor="let emberBuild of user.emberBuilds" [ngValue]="emberBuild.value"
						[attr.selected]="emberBuild.value === user.teamUrl ? true : null">
							{{emberBuild.label}}
						</option>
					</select>
					<div class='text-danger' *ngIf='teamUrl.invalid'>
						<span *ngIf="teamUrl.errors.required">TeamDB URL required</span>
					</div>
				</div>

				<!-- checkboxes -->
				<div class="form-group">
					<div class="row">
						<div class="col-sm-6">
							<!-- cache ember -->
							<div class="form-check">
								<label class="form-check-label" for='cache'>
									<input class="form-check-input" type="checkbox" name='cache' formControlName="cache">
									Cache Ember Routes
								</label>
							</div>
						</div>
					</div>
				</div>
				<!-- end checkboxes -->
				<span *ngIf='isLogin == true' class='buttons'>
					<button type="button" class="btn btn-outline-primary align-right" (click)="submit(true)">Create Profile</button>
				</span>

			</form>
		</div>
	</div>
</div>

