
<div class="loading-pulse" *ngIf='loading; else detailsTable'></div>

<ng-template #detailsTable>

	<div class="row">

		<!-- left side -->
		<div class="col-md-7">

			<!-- top left side -->
			<div class="row">
				<div class="col-md-6" *ngIf='ticket?.worklog?.length'>
					<h1>Time Logs</h1>
					<table class="table ticket-details">
						<tbody>
							<tr *ngFor='let worklog of ticket?.worklog'>
								<td>Time Spent: {{worklog.timeSpent}}</td>
								<td>updated: {{worklog.updated | amDateFormat:'MMMM DD@h:mm:A'}}</td>
							</tr>
						</tbody>
					</table>
				</div>

				<div class="col-md-6" *ngIf='links?.length'>
					<h1>Ticket Links</h1>
					<table class="table ticket-details">
						<tbody>
							<tr *ngFor='let link of links'>
								<td>
									<span *ngIf='link.inwardIssue'>Blocked By:</span>
									<span *ngIf='link.outwardIssue'>Blocks:</span>
								</td>
								<td>
									<a 
										*ngIf='link.inwardIssue'
										target="_blank" 
										href="{{config.jiraUrl}}/browse/{{link.inwardIssue?.key}}" 
										title='Open in Jira'>
										{{link.inwardIssue?.key}}
									</a>
									<a 
										*ngIf='link.outwardIssue'
										target="_blank" 
										href="{{config.jiraUrl}}/browse/{{link.outwardIssue?.key}}" 
										title='Open in Jira'>
										{{link.outwardIssue?.key}}
									</a>
								</td>
								<td>
									{{link.outwardIssue?.fields.summary}}
									{{link.inwardIssue?.fields.summary}}
								</td>
								<td>
									{{link.outwardIssue?.fields.status.name}}
									{{link.inwardIssue?.fields.status.name}}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			
			<!-- bottom left side -->
			<div class="row split-tables">
				<div class="col-md-12">
					<h1>Ticket Details</h1>
					<table class="table ticket-details">
						<tbody>
							<tr>
								<td class="text-right">Environment:</td>
								<td colspan='2'>{{ticket?.environment}}</td>
								<td class="text-right">Issue Type:</td>
								<td>{{ticket?.issue_type}}</td>
							</tr>

							<tr>
								<td class="text-right">Sprint:</td>
								<td colspan='2'>{{ticket?.sprint}}</td>
								<td class="text-right">Priority:</td>
								<td>{{ticket?.priority}}</td>
							</tr>

							<tr>
								<td class="text-right">Severity:</td>
								<td colspan='2'>{{ticket?.severity}}</td>
								<td class="text-right">Description:</td>
								<td>{{ticket?.description}}</td>
							</tr>

							<tr>
								<td class="text-right">Label:</td>
								<td colspan='2'>{{ticket?.label}}</td>
								<td class="text-right">Code Reviewer:</td>
								<td>
									{{ticket?.code_reviewer.username}}
									{{ticket?.code_reviewer.displayName}}
								</td>
							</tr>

							<tr>
								<td>Dev Changes:</td>
								<td colspan='4'>
									{{ticket?.dev_changes}}
								</td>
							</tr>

							<tr>
								<td>Work Log:</td>
								<td colspan='4'>
									
								</td>
							</tr>

							<tr *ngIf='links.length'>
								<td>Links:</td>
								<td colspan='4'>
									
								</td>
							</tr>

							<tr>
								<td>Status Changes:</td>
								<td colspan='4'>
									
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		
		<!-- right side -->
		<div class="col-md-4 *ngIf='ticket?.history?.status?.length">
			<h1>Status History</h1>
			<table class="table ticket-details">
				<tbody>
					<tr *ngFor='let status of ticket?.history?.status'>
						<td>{{status.author.displayName}}</td>
						<td>
							<span *ngIf='status.items[0].fromString'>from {{status.items[0].fromString}} </span>
							<span *ngIf='status.items[0].toString'>to {{status.items[0].toString}}</span>
							<span>on {{status.created | amDateFormat:'MMMM DD@h:mm:A'}}</span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
	</div>
</ng-template>