<dev-center-modal (modalEvent)="closeModel()" [customModalCss]=customModalCss>

	<div class='modal-text'>
		<h4 class="modal-title">Ticket Details</h4>
	</div>

	<span class='modal-body'>
		<div class="loading-pulse" *ngIf='loading; else detailsTable'></div>
		
		<ng-template #detailsTable>
			<table class="table table-striped">
				<tbody>
					<tr *ngIf='ticket?.environment'>
						<td>Environment</td>
						<td>{{ticket?.environment}}</td>
					</tr>
					<tr *ngIf='ticket?.issue_type'>
						<td>Issue Type</td>
						<td>{{ticket?.issue_type}}</td>
					</tr>
					<tr *ngIf='ticket?.priority'>
						<td>Priority</td>
						<td>{{ticket?.priority}}</td>
					</tr>
					<tr *ngIf='ticket?.severity'>
						<td>Severity</td>
						<td>{{ticket?.severity}}</td>
					</tr>
					<tr *ngIf='ticket?.description'>
						<td>Description</td>
						<td>{{ticket?.description}}</td>
					</tr>
					<tr *ngIf='ticket?.code_reviewer.username'>
						<td>Code Reviewer</td>
						<td>
							{{ticket?.code_reviewer.username}}
							{{ticket?.code_reviewer.displayName}}
						</td>
					</tr>
					<tr *ngIf='ticket?.label'>
						<td>Label</td>
						<td>{{ticket?.label}}</td>
					</tr>

					<tr *ngIf='links.length'><td colspan='2'>Links:</td></tr>
					<tr *ngIf='links.length'>
						<td colspan='2'>
							<table class="table">
								<tbody>
									<tr *ngFor='let link of links'>
										<td>
											<span *ngIf='link.inwardIssue'>Blocked By:</span>
											<span *ngIf='link.outwardIssue'>Blocks:</span>
										</td>
										<td>
											<a 
												*ngIf='link.inwardIssue'
												target="_blank" 
												href="{{config.jiraUrl}}/browse/{{link.inwardIssue?.key}}" 
												title='Open in Jira'>
												{{link.inwardIssue?.key}}
											</a>
											<a 
												*ngIf='link.outwardIssue'
												target="_blank" 
												href="{{config.jiraUrl}}/browse/{{link.outwardIssue?.key}}" 
												title='Open in Jira'>
												{{link.outwardIssue?.key}}
											</a>
										</td>
										<td>
											{{link.outwardIssue?.fields.summary}}
											{{link.inwardIssue?.fields.summary}}
										</td>
										<td>
											{{link.outwardIssue?.fields.status.name}}
											{{link.inwardIssue?.fields.status.name}}
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
					<tr><td colspan='2'>Status Changes:</td></tr>
					<tr>
						<td colspan='2'>
							<table class="table">
								<tbody>
									<tr *ngFor='let status of ticket?.history?.status'>
										<td>{{status.author.displayName}}</td>
										<td>
											<span *ngIf='status.items[0].fromString'>from {{status.items[0].fromString}} </span>
											<span *ngIf='status.items[0].toString'>to {{status.items[0].toString}}</span>
											<span>on {{status.created | amDateFormat:'MMMM DD@h:mm:A'}}</span>
										</td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</ng-template>
	</span>

	<span class='modal-footer'>
		<button type="button" class="btn btn-outline-danger" (click)="closeModel()">Close</button>
	</span>
	
</dev-center-modal>