$headerbg: #0275d8;
$darkbg: #292b2c;
$commentHeader: #1b1b1b;
$textcolor: #ffffff;

.ticket-comments{
	.card{
		border-radius: 0;
		border: 1px $commentHeader;
		border: 1px solid #000000;
	}

	.card:last-of-type {
		border-bottom: 1px !important;
	}

	.card-header {
		padding-top: 0px;
		padding-bottom: 0px;
		background-color: $commentHeader;
		border-radius: 0 !important;

		a:hover {
			text-decoration: none;
		}
	}

	.card-body {
		background-color: $darkbg;

		img {
			max-width: 100%;
		}

		.comment-image {
			margin: 30px 0px 30px 0px;
			border: 1px solid black;
		}

		.code {
			margin: 20px 0 20px 0;
			padding: 20px;
		}

		.edit-area {
			width: 100%;
			background-color: $darkbg;
			color: $textcolor;
		}
		.edit-buttons {
			margin-bottom: 10px;
			float: right;

			.btn {
				border-radius: 0;
			}
		}

		.tableCopy {
			span {
				cursor: pointer;
			}

			input {
				position: absolute;
				right: 10000px;
			}
		}
	}

	.comment-header {
		padding: 10px;
	}	
}

