<ng-progress [showSpinner]="false" [color]="'blue'"></ng-progress>
<!-- ticket loading -->
<div class='loading' [hidden]="!loadingIndicator">
	<div class='container'>
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--text'></div>
		</div>
	</div>
</div>
<div class="container-fluid table-spacing" [hidden]='loadingIndicator'>
	<!-- header -->
	<div class="row">
		<div class="col-12">
			<h1 class='text-center ticket-title'>
				<span>Orders</span>
				<i class="material-icons success" title='Refresh Orders' (click)="getOrders()">update</i>
			</h1>
		</div>
	</div>
	<!-- table -->
	<div class="row">
		<div class="col-12">
			<table class='table-striped' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
				<thead>
					<tr>
						<th>Order Number</th>

						<th>Jep 1</th>
						<th>Jep 2</th>

						<th>ASEdb Site ID</th>
						<th>WFA OSSOI P1 WC</th>

						<th>PON</th>
						<th>ASR</th>
						<th>NTE CLLI</th>
						<th>UNI Force</th>

						<th>USO</th>
						<th>USO SR</th>
						<th>OCO</th>
						<th>iCore</th>

						<th>CNL TO</th>
						<th>UNI PO</th>
						<th>UNI TO</th>
						<th>EVC PO</th>
						<th>EVC TO</th>

						<th>EVC Asr</th>
						<th>EVC Type</th>

						<th>Switch Type</th>
					</tr>
				</thead>

				<tbody>
					<tr *ngFor='let order of orders'>
						<td>
							<a target="_blank" href="{{baseUrl}}/{{order.OrdNum}}">{{order.OrdNum}}</a>
						</td>

						<td>{{order.jeop}}</td>
						<td>{{order.jeop2}}</td>

						<td>{{order.ASEdb_SiteID}}</td>
						<td>{{order.P1_WFAWC}}</td>

						<td>{{order.PON}}</td>
						<td>{{order.ASR}}</td>
						<td>{{order.NTECLLI}}</td>
						<td>{{order.WRID}}</td>

						<td>{{order.ATX_USO}}</td>
						<td>{{order.USO_SR_NO}}</td>
						<td>{{order.ATX_OCO}}</td>
						<td>{{order.ATX_USO_iCORE_ID}}</td>

						<td>{{order.CANOPI_CNL_TO}}</td>
						<td>{{order.CANOPI_UNI_PO}}</td>
						<td>{{order.CANOPI_UNI_TO}}</td>
						<td>{{order.CANOPI_EVC_PO}}</td>
						<td>{{order.CANOPI_EVC_TO}}</td>

						<td>{{order.evcAsr}}</td>
						<td>{{order.evcType}}</td>
						
						<td>{{order.SWITCH_TYPE}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>