<dc-loading-table [loadingTable]=loadingIndicator [tableTitle]=tableTitle (refreshData)="getOrders(true)">
	<table class='table-striped' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
		<thead>
			<tr>
				<th>UNI CLO</th>
				<th>UNI Circuit</th>
				<th>UNI Region</th>
				<th>UNI CAC</th>
				<th>UNI OSSOI Order</th>
				<th>UNI Open Events</th>
				<th>UNI aseDB</th>
				<th>UNI OMX/OCX?</th>
				<th>UNI Edge Forces</th>
				<th>UNI PO</th>
				<th>UNI TO</th>
				<th>UNI ACTS?</th>
				<th>UNI EAN?</th>


				<th>CNL CLO</th>
				<th>CNL Circuit</th>
				<th>CNL Region</th>
				<th>CNL CAC</th>
				<th>CNL OSSOI Order</th>
				<th>CNL Open Events</th>
				<th>CNL aseDB</th>
				<th>CNL OMX/OCX?</th>
				<th>CNL Edge Forces</th>
				<th>CNL PO</th>
				<th>CNL TO</th>

				<th>EVC CLO</th>
				<th>EVC Circuit</th>
				<th>EVC Region</th>
				<th>EVC CAC</th>
				<th>EVC OSSOI Order</th>
				<th>EVC Open Events</th>
				<th>EVC aseDB</th>
				<th>EVC OMX/OCX?</th>
				<th>EVC Edge Forces</th>
				<th>EVC PO</th>
				<th>EVC TO</th>

				<th>UNI ATX Site ID</th>
				<th>UNI ATX PON</th>
				<th>UNI ATX USO</th>
				<th>UNI ATX iCore</th>

			</tr>
		</thead>

		<tbody>
			<tr *ngFor='let orderItem of orders'>

				<!-- UNI -->
				<td><span *ngIf='orderItem.UNI'>
					<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(orderInput)">note</i>
					<a target="_blank" href="{{baseUrl}}/{{orderItem.UNI[0].WfaClo}}?cache={{user.cache}}">{{orderItem.UNI[0].WfaClo}}</a>
					<input class='hidden-clip' type="text" #orderInput value={{orderItem.UNI[0].WfaClo}}>
				</span></td>
					
				<td><span *ngIf='orderItem.UNI'>
					<a target="_blank" href="{{circuitBaseUrl}}/{{orderItem.UNI[0].BpoCktIdUrl}}&cache={{user.cache}}">{{orderItem.UNI[0].BpoCktId}}</a>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].WfaRegion}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].wfa_uni?.CAC}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].wfa_uni?.ORD}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].wfa_uni?.open_events?.length}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<a target="_blank" href="{{aseBaseUrl}}/{{orderItem.UNI[0].AsedbSiteId}}?cache={{user.cache}}">{{orderItem.UNI[0].AsedbSiteId}}</a>
				</span></td>
				
				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].OmxOrderId}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].edge_uni?.length}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].CanopiPo}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].CanopiTo}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].is_acts}}</span>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].is_ean}}</span>
				</span></td>



				<!-- CNL -->
				<td><span *ngIf='orderItem.CNL'>
					<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(orderInput)">note</i>
					<a target="_blank" href="{{baseUrl}}/{{orderItem.CNL[0].WfaClo}}?cache={{user.cache}}">{{orderItem.CNL[0].WfaClo}}</a>
					<input class='hidden-clip' type="text" #orderInput value={{orderItem.CNL[0].WfaClo}}>
				</span></td>
					
				<td><span *ngIf='orderItem.CNL'>
					<a target="_blank" href="{{circuitBaseUrl}}/{{orderItem.CNL[0].BpoCktIdUrl}}&cache={{user.cache}}">{{orderItem.CNL[0].BpoCktId}}</a>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].WfaRegion}}</span>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].wfa_cnl?.CAC}}</span>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].wfa_cnl?.ORD}}</span>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].wfa_cnl?.open_events?.length}}</span>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<a target="_blank" href="{{aseBaseUrl}}/{{orderItem.CNL[0].AsedbSiteId}}?cache={{user.cache}}">{{orderItem.CNL[0].AsedbSiteId}}</a>
				</span></td>
				
				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].OmxOrderId}}</span>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].edge_cnl?.length}}</span>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].CanopiPo}}</span>
				</span></td>

				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].CanopiTo}}</span>
				</span></td>



				<!-- EVC -->
				<td><span *ngIf='orderItem.EVC'>
					<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(orderInput)">note</i>
					<a target="_blank" href="{{baseUrl}}/{{orderItem.EVC[0].WfaClo}}?cache={{user.cache}}">{{orderItem.EVC[0].WfaClo}}</a>
					<input class='hidden-clip' type="text" #orderInput value={{orderItem.EVC[0].WfaClo}}>
				</span></td>
					
				<td><span *ngIf='orderItem.EVC'>
					<a target="_blank" href="{{circuitBaseUrl}}/{{orderItem.EVC[0].BpoCktIdUrl}}&cache={{user.cache}}">{{orderItem.EVC[0].BpoCktId}}</a>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].WfaRegion}}</span>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].wfa_evc?.CAC}}</span>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].wfa_evc?.ORD}}</span>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].wfa_evc?.open_events?.length}}</span>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<a target="_blank" href="{{aseBaseUrl}}/{{orderItem.EVC[0].AsedbSiteId}}?cache={{user.cache}}">{{orderItem.EVC[0].AsedbSiteId}}</a>
				</span></td>
				
				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].OmxOrderId}}</span>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].edge_evc?.length}}</span>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].CanopiPo}}</span>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].CanopiTo}}</span>
				</span></td>



				<!-- ATX -->
				<td><span *ngIf='orderItem.ATX'>
					<span>{{orderItem.ATX[0].AsedbSiteId}}</span>
				</span></td>

				<td><span *ngIf='orderItem.ATX'>
					<span>{{orderItem.ATX[0].atx?.AtxUniPon}}</span>
				</span></td>

				<td><span *ngIf='orderItem.ATX'>
					<span>{{orderItem.ATX[0].atx?.AtxUniUso}}</span>
				</span></td>

				<td><span *ngIf='orderItem.ATX'>
					<span>{{orderItem.ATX[0].atx?.AtxUniUsoIcoreId}}</span>
				</span></td>
			</tr>
		</tbody>
	</table>
</dc-loading-table>