<dc-loading-table [loadingTable]=loadingIndicator [tableTitle]=tableTitle (refreshData)="getOrders(true)">
	<table class='table-striped' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
		<thead>
			<tr>
				<th>UNI CLO</th>
				<th>UNI Circuit</th>
				<th>UNI Region</th>
				<th>UNI OSSOI Order</th>
				<th>UNI Open Events</th>
				<th>UNI aseDB</th>
				<th>UNI OMX/OCX?</th>
				<th>UNI Edge Forces</th>
				<th>UNI PO</th>
				<th>UNI TO</th>
				<th>UNI ACTS?</th>
				<th>UNI EAN?</th>
				<th>UNI Devices</th>
				<th>UNI PON</th>


				<th>CNL CLO</th>
				<th>CNL Circuit</th>
				<th>CNL Region</th>
				<th>CNL OSSOI Order</th>
				<th>CNL Open Events</th>
				<th>CNL aseDB</th>
				<th>CNL Edge Forces</th>
				<th>CNL PO</th>
				<th>CNL TO</th>
				<th>CNL Devices</th>
				<th>CNL PON</th>

				<th>EVC CLO</th>
				<th>EVC Circuit</th>
				<th>EVC Region</th>
				<th>EVC OSSOI Order</th>
				<th>EVC Open Events</th>
				<th>EVC aseDB</th>
				<th>EVC Edge Forces</th>
				<th>EVC PO</th>
				<th>EVC TO</th>
				<th>EVC PON</th>

				<th>ATX Site ID</th>
				<th>ATX PON</th>
				<th>ATX USO</th>
				<th>ATX iCore</th>

				<th>ADE CLO</th>
				<th>ADE Circuit</th>
				<th>ADE Region</th>

			</tr>
		</thead>

		<tbody>
			<tr *ngFor='let orderItem of orders'>

				<!-- UNI -->
				<td><span *ngIf='orderItem.UNI'>
						<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(orderInput)">note</i>
						<a target="_blank" href="{{baseUrl}}/{{orderItem.UNI[0].WfaClo}}?cache={{user.cache}}">{{orderItem.UNI[0].WfaClo}}</a>
						<input class='hidden-clip' type="text" #orderInput value={{orderItem.UNI[0].WfaClo}}>
				</span></td>
				<td>
					<a *ngIf='orderItem.UNI' target="_blank" href="{{circuitBaseUrl}}/{{orderItem.UNI[0].BpoCktIdUrl}}&cache={{user.cache}}">{{orderItem.UNI[0].BpoCktId}}</a>
				</td>
				<td><span *ngIf='orderItem.UNI'>{{orderItem.UNI[0].WfaRegion}}</span></td>
				<td><span *ngIf='orderItem.UNI'>{{orderItem.UNI[0].wfa_uni?.ORD}}</span></td>
				<td><span *ngIf='orderItem.UNI'>{{orderItem.UNI[0].wfa_uni?.open_events?.length}}</span></td>
				<td>
					<a *ngIf='orderItem.UNI' target="_blank" href="{{aseBaseUrl}}/{{orderItem.UNI[0].AsedbSiteId}}?cache={{user.cache}}">{{orderItem.UNI[0].AsedbSiteId}}</a>
				</td>
				<td><span *ngIf='orderItem.UNI'>{{orderItem.UNI[0].OmxOrderId}}</span></td>
				<td><span *ngIf='orderItem.UNI'>{{orderItem.UNI[0].edge_uni?.length}}</span></td>

				<!-- PO/TO data -->
				<td><span *ngIf='orderItem.UNI_pos'>
					<span>{{orderItem.UNI_pos.length}}</span> <div *ngFor='let po of orderItem.UNI_pos'>PO: {{po}}</div>
				</span></td>
				<td><span *ngIf='orderItem.UNI_tos'>
					<span>{{orderItem.UNI_tos.length}}</span> <div *ngFor='let to of orderItem.UNI_tos'>TO: {{to}}</div>
				</span></td>

				<td><span *ngIf='orderItem.UNI'>{{orderItem.UNI[0].is_acts}}</span></td>
				<td><span *ngIf='orderItem.UNI'>{{orderItem.UNI[0].is_ean}}</span></td>
				<td><span *ngIf='orderItem.UNI'>
						<div>EMUX: {{orderItem.UNI[0].canopi?.uni_to?.emuxName}}</div>
						<div>IPAG: {{orderItem.UNI[0].canopi?.uni_to?.ipagRouterClli}}</div>
						<div>NTE: {{orderItem.UNI[0].canopi?.uni_to?.nteClli}}</div>
				</span></td>
				<td><span *ngIf='orderItem.UNI'>
					<span>{{orderItem.UNI[0].ExactPon || orderItem.database_info.PON}}</span>
				</span></td>


				<!-- CNL -->
				<td>
					<span *ngIf='orderItem.CNL'>
						<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(orderInput)">note</i>
						<a target="_blank" href="{{baseUrl}}/{{orderItem.CNL[0].WfaClo}}?cache={{user.cache}}">{{orderItem.CNL[0].WfaClo}}</a>
						<input class='hidden-clip' type="text" #orderInput value={{orderItem.CNL[0].WfaClo}}>
					</span>
				</td>
				<td>
					<a *ngIf='orderItem.CNL' target="_blank" href="{{circuitBaseUrl}}/{{orderItem.CNL[0].BpoCktIdUrl}}&cache={{user.cache}}">{{orderItem.CNL[0].BpoCktId}}</a>
				</td>
				<td><span *ngIf='orderItem.CNL'>{{orderItem.CNL[0].WfaRegion}}</span></td>
				<td><span *ngIf='orderItem.CNL'>{{orderItem.CNL[0].wfa_cnl?.ORD}}</span></td>
				<td><span *ngIf='orderItem.CNL'>{{orderItem.CNL[0].wfa_cnl?.open_events?.length}}</span></td>
				<td>
					<a *ngIf='orderItem.CNL' target="_blank" href="{{aseBaseUrl}}/{{orderItem.CNL[0].AsedbSiteId}}?cache={{user.cache}}">{{orderItem.CNL[0].AsedbSiteId}}</a>
				</td>
				<td><span *ngIf='orderItem.CNL'>{{orderItem.CNL[0].edge_cnl?.length}}</span></td>

				<!-- PO/TO data -->
				<td><span *ngIf='orderItem.CNL_pos'>
					<span>{{orderItem.CNL_pos.length}}</span> <div *ngFor='let po of orderItem.CNL_pos'>PO: {{po}}</div>
				</span></td>
				<td><span *ngIf='orderItem.CNL_tos'>
					<span>{{orderItem.CNL_tos.length}}</span> <div *ngFor='let to of orderItem.CNL_tos'>TO: {{to}}</div>
				</span></td>
				<td>
					<span *ngIf='orderItem.CNL'>
						<div>EMUX: {{orderItem.CNL[0].canopi?.cnl_to?.emuxName}}</div>
						<div>IPAG: {{orderItem.CNL[0].canopi?.cnl_to?.ipagRouterClli}}</div>
						<div>NTE: {{orderItem.CNL[0].canopi?.cnl_to?.nteClli}}</div>
					</span>
				</td>
				<td><span *ngIf='orderItem.CNL'>
					<span>{{orderItem.CNL[0].ExactPon || orderItem.database_info.PON}}</span>
				</span></td>


				<!-- EVC -->
				<td>
					<span *ngIf='orderItem.EVC'>
						<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(orderInput)">note</i>
						<a target="_blank" href="{{baseUrl}}/{{orderItem.EVC[0].WfaClo}}?cache={{user.cache}}">{{orderItem.EVC[0].WfaClo}}</a>
						<input class='hidden-clip' type="text" #orderInput value={{orderItem.EVC[0].WfaClo}}>
					</span>
				</td>
				<td>
					<a *ngIf='orderItem.EVC' target="_blank" href="{{circuitBaseUrl}}/{{orderItem.EVC[0].BpoCktIdUrl}}&cache={{user.cache}}">{{orderItem.EVC[0].BpoCktId}}</a>
				</td>
				<td><span *ngIf='orderItem.EVC'>{{orderItem.EVC[0].WfaRegion}}</span></td>
				<td><span *ngIf='orderItem.EVC'>{{orderItem.EVC[0].wfa_evc?.ORD}}</span></td>
				<td><span *ngIf='orderItem.EVC'>{{orderItem.EVC[0].wfa_evc?.open_events?.length}}</span></td>
				<td>
					<a *ngIf='orderItem.EVC' target="_blank" href="{{aseBaseUrl}}/{{orderItem.EVC[0].AsedbSiteId}}?cache={{user.cache}}">{{orderItem.EVC[0].AsedbSiteId}}</a>
				</td>
				<td><span *ngIf='orderItem.EVC'>{{orderItem.EVC[0].edge_evc?.length}}</span></td>

				<!-- PO/TO data -->
				<td><span *ngIf='orderItem.EVC_pos'>
					<span>{{orderItem.EVC_pos.length}}</span> <div *ngFor='let po of orderItem.EVC_pos'>PO: {{po}}</div>
				</span></td>
				<td><span *ngIf='orderItem.EVC_tos'>
					<span>{{orderItem.EVC_tos.length}}</span> <div *ngFor='let to of orderItem.EVC_tos'>TO: {{to}}</div>
				</span></td>

				<td><span *ngIf='orderItem.EVC'>
					<span>{{orderItem.EVC[0].ExactPon || orderItem.database_info.PON}}</span>
				</span></td>


				<!-- ATX -->
				<td><span *ngIf='orderItem.ATX'>{{orderItem.ATX[0].AsedbSiteId}}</span></td>
				<td><span *ngIf='orderItem.ATX'>{{orderItem.ATX[0].atx?.AtxUniPon}}</span></td>
				<td><span *ngIf='orderItem.ATX'>{{orderItem.ATX[0].atx?.AtxUniUso}}</span></td>
				<td><span *ngIf='orderItem.ATX'>{{orderItem.ATX[0].atx?.AtxUniUsoIcoreId}}</span></td>


				<!-- ADE -->
				<td>
					<span *ngIf='orderItem.ADE'>
						<i class="material-icons text-success" title='Copy to clipboard' (click)="misc.copyText(orderInput)">note</i>
						<a target="_blank" href="{{baseUrl}}/{{orderItem.ADE[0].WfaClo}}?cache={{user.cache}}">{{orderItem.ADE[0].WfaClo}}</a>
						<input class='hidden-clip' type="text" #orderInput value={{orderItem.ADE[0].WfaClo}}>
					</span>
				</td>
				<td>
					<a *ngIf='orderItem.ADE' target="_blank" href="{{circuitBaseUrl}}/{{orderItem.ADE[0].BpoCktIdUrl}}&cache={{user.cache}}">{{orderItem.ADE[0].BpoCktId}}</a>
				</td>
				<td><span *ngIf='orderItem.ADE'>{{orderItem.ADE[0].WfaRegion}}</span></td>


			</tr>
		</tbody>
	</table>
</dc-loading-table>