$lightBlk: #333;
$darkBlk: #292b2c;
$link: #0275d8;
$linkHover: #0056b3;
$white: #fff;

$success: #28a745;
$successHover: rgba(40, 167, 69, 0.5);

.table-spacing {
	margin-top: 50px;
	margin-bottom: 100px;
	background-color: $darkBlk;
	color: $white;
}

.ticket-title {
	font-size: 3.5rem;
	margin-top: 50px;
	padding-bottom: 10px;
	margin-bottom: 20px;
	border-bottom: 1px solid #D3D3D3;
}


.container {
	height: 100vh;
	width: 100vw;
	font-family: Helvetica;
}

.loader {
	height: 20px;
	width: 250px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.loader--dot {
	animation-name: loader;
	animation-timing-function: ease-in-out;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background-color: black;
	position: absolute;
	border: 2px solid white;

	&:first-child {
		background-color: #8cc759;
		animation-delay: 0.5s;
	}
	&:nth-child(2) {
		background-color: #8c6daf;
		animation-delay: 0.4s;
	}
	&:nth-child(3) {
		background-color: #ef5d74;
		animation-delay: 0.3s;
	}
	&:nth-child(4) {
		background-color: #f9a74b;
		animation-delay: 0.2s;
	}
	&:nth-child(5) {
		background-color: #60beeb;
		animation-delay: 0.1s;
	}
	&:nth-child(6) {
		background-color: #fbef5a;
		animation-delay: 0s;
	}
}


.loader--text {
	position: absolute;
	top: 200%;
	left: 0;
	right: 0;
	width: 4rem;
	margin: auto;

	&:after {
		content: "Loading";
		font-weight: bold;
		animation-name: loading-text;
		animation-duration: 3s;
		animation-iteration-count: infinite;
	}
}

@keyframes loader {
	15% {
		transform: translateX(0);
	}
	45% {
		transform: translateX(230px);
	}
	65% {
		transform: translateX(230px);
	}
	95% {
		transform: translateX(0);
	}
}
@keyframes loading-text {
	0% {
		content: "Loading";
	}
	25% {
		content: "Loading.";
	}
	50% {
		content: "Loading..";
	}
	75% {
		content: "Loading...";
	}
}


a, .material-icons {
	color: $link;
	cursor: pointer;

	&.success {
		transition: color 0.5s;
		color: $success;
		&:hover {
			color: $successHover;
		}
	}

	&:hover {
		color: $linkHover;
		text-decoration: none;
	} 
}

// dt buttons
div.dt-button-collection{
	border-radius: 0;
}
.dt-button.buttons-collection.buttons-colvis, 
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dt-button-collection .dt-button.buttons-columnVisibility {
	
	display: inline-block;
	font-weight: 400;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 0;
	transition: 
		background-color 
		.15s ease-in-out,border-color 
		.15s ease-in-out,box-shadow 
		.15s ease-in-out;
	
	color: $success !important; 
	background-color: transparent;
	background-image: none !important;
	border-color: $success;

	&:hover:not(.disabled), &.active {
		color: #fff !important;
		background-color: $success !important;
		border-color: $success !important;
		box-shadow: 0 0 0 0.2rem rgba(40,167,69,.5);
	}

	&:focus:not(.disabled) {
		outline: 0;
	}

	&:active {
		color: #fff !important;
		background-color: $success !important;
		border-color: $success !important;
		
	}
}

// dt length dropdown
.dataTables_length {
	margin-left: 20px;
	margin-top: 6px;
	select { 
		width: 100px;
		background-color: $darkBlk;
		color: $white;
	}

	label {
		color: $white;
	}
}

.dataTables_info {
	color: $white !important;
}

table.dataTable {	
	width: 100% !important;
}

table.dataTable {
	tbody tr {
		background-color: $darkBlk;
		color: $white;

		&:nth-of-type(odd) {
			background-color: $lightBlk;
			color: $white;
		}

		select {
			background-color: #292b2c;
			color: $white;
		}
	}
}



// filter button
#DataTables_Table_0_filter input {
 	padding: .375rem .75rem;
	font-size: 1rem;
	line-height: 1.5;
	background-image: none;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	background-color: $darkBlk;
	color: $white;
	border-radius: 0;
 }