<dev-center-modal [modalSize]=modalSize>
	<div class='modal-header'>Add Comment/Log for {{key}}</div>

	<span class='modal-body'>
		<form class="form-group work-log" #logForm="ngForm">
			<h4>Comment:</h4>
			<div class="form-group">
				 <textarea class="form-control" name="comment" id="comment" rows=10 [(ngModel)]="comment"></textarea>
			</div>

			<div class="form-group">
				<div class="row">
					<div class="col">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='uctNotReady' [(ngModel)]="uctNotReady">
								Add 'UCT Not Ready' Comment
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='conflictCode' [(ngModel)]="conflictCode">
								Remove 'Merge Conflict' status
							</label>
						</div>
					</div>
					<div class="col">
						<span class="float-right">
							<label for="">Log Time:</label>
							<ngb-timepicker
								class='float-right button-border'
								name="logTime"
								[(ngModel)]="logTime"
								[hourStep]="hourStep" 
								[minuteStep]="minuteStep">
							</ngb-timepicker>
						</span>
					</div>
				</div>
			</div>
		</form>

		<dc-branch-info [masterBranch]=masterBranch [branch]=branch [commit]=commit></dc-branch-info>
	</span>

	<span class='modal-footer'>
		<button type="submit" class="btn btn-outline-success" (click)="submitLog(logForm)">
				<span [innerHtml]=" logTime.minute || logTime.hour ? 'Log Work' : 'Add Comment'"></span>
		</button>
		<button type="button" class="btn btn-outline-danger" (click)="submitLog()">Cancel</button>
	</span>
	
</dev-center-modal>