<div class="container-fluid table-spacing">
	<!-- header -->
	<div class="row">
		<div class="col-md-12 text-center">
			<h1>{{tableTitle}}</h1>
			<span class="loading-icon">
				<span *ngIf="!loadingIcon; else cancelRefresh">
					<mat-icon color="primary" title='Refresh {{tableTitle}}' (click)="refreshData.emit()">update</mat-icon>
				</span>
				<ng-template #cancelRefresh>
					<mat-icon color="warn" title='Stop Refresh of {{tableTitle}}' (click)="stopRefresh.emit()">highlight_off</mat-icon>
				</ng-template>
			</span>
		</div>
	</div>
	
	<!-- ticket loading -->
	<div class='loading' [hidden]="!loadingTable">
		<div class='container'>
			<div class='loader'>
				<div class='loader--dot'></div>
				<div class='loader--dot'></div>
				<div class='loader--dot'></div>
				<div class='loader--dot'></div>
				<div class='loader--dot'></div>
				<div class='loader--dot'></div>
				<div class='loader--text'></div>
			</div>
		</div>
	</div>

	<!-- table -->
	<div class="row" [hidden]='loadingTable'>
		<div class="col-12">
			<ng-content></ng-content>
		</div>
	</div>
</div>