$darkblk: #292b2c;
$linkhover: #0056b3;

.dropdown-item:hover {
	background-color: $linkhover;
	color: #fff;
}

.dropdown-submenu-icon {
	position: absolute;
	color: $darkblk;
	top: 8px;
	right: 0;
	font-size: 17px;
}


.dropdown-submenu{
	position: relative;

	.dropdown-item:hover{
		color: #fff;
		background-color: $linkhover;
	}

	.show-submenu {
		display: block;
		position: absolute;
		top: -10px;
		left: 100%;
	}

	.dropdown-submenu-icon {
		position: absolute;
		color: $darkblk;
		top: 8px;
		right: 0;
		font-size: 17px;
	}
}
