<ng-template #commentModal let-c="close" id='comment-modal'>

	<div class="modal-header">
		<h2 class="modal-title">Comments for {{key}}</h2>
		<button type="button" class="close" aria-label="Close" (click)="c('close')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<ngb-accordion #acc="ngbAccordion" activeIds='{{openPanelIds}}' [type]='danger' [destroyOnHide]='false'>

		<ngb-panel *ngFor='let comment of comments; index as i' [id]="key+i">
			<!-- title -->
			<ng-template ngbPanelTitle>
				<div class='comment-header' data-id={{comment.id}}>
					<span>
						{{comment.display_name}}
						<img src="http://presence.q.att.com/presence/{{comment.username}}.gif">
					</span>
					<span class="float-right">{{comment.created | amDateFormat:'MM/D/YY h:mm A'}}</span>
					
				</div>
			</ng-template>
			
			<!-- body -->
			<ng-template ngbPanelContent>
				<div [innerHTML]="comment.comment | commentFormat:attachments:comment.isEditing | safehtml"></div>
			</ng-template>
		</ngb-panel>

	</ngb-accordion>
		
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-success" (click)="startEditing()">Edit Comment</button>
		<button type="button" class="btn btn-outline-success" (click)="closeModal('closeText')">{{closeText}}</button>
	</div>
</ng-template>