<mat-icon class='text-secondary' title='{{watcherType}} as watcher' (click)="openModal()">visibility</mat-icon>


<dc-panel>
  <div class='modal-header'>watcher for {{key}}?</div>

  <span class="modal-body">
    {{watcherType}} as watcher to {{key}}?
  </span>

  <span class="modal-footer align-footer">
    <button mat-raised-button color='primary' (click)="onSubmit()">
      {{watcherType}}
    </button>
    <button mat-raised-button color='warn' (click)="closeModal()">
      Cancel
    </button>
  </span>
</dc-panel>