<dc-panel [modalSize]='"md"'>
	<div class='modal-header'>Branch Information for Jira Ticket {{key}}</div>

	<span class='modal-body'>
		<dc-loading-details [loading]=loading>
			<div class="container">
				<div class='row'>
					<section class="col-md-12">
						<dc-branch-info-body
							[sprint]=sprint
							[branch]=branch
							[commit]=commit
							[key]=key
							[epicLink]=epicLink
						></dc-branch-info-body>
					</section>
				</div>
			</div>
		</dc-loading-details>
	</span>

	<span class='modal-footer align-footer'>
		<button mat-raised-button color='primary' (click)="sendNewPing()">
			Send New Ping
		</button>

		<button mat-raised-button color='primary' (click)="sendMergePing()">
			Send Merge Ping
		</button>

		<button mat-raised-button color='warn' (click)="modal.closeModal()">
			Close
		</button>
	</span>

</dc-panel>