<ng-progress [showSpinner]="false" [color]="'blue'"></ng-progress>

<div class='loading' [hidden]="!loadingTickets">
	<div class='container'>
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--text'></div>
		</div>
	</div>
</div>

<div class="container-fluid table-spacing" [hidden]='loadingTickets'>
	<div class="row">
		<div class="col-12">
			<h1 class='text-center title-spacing'>{{jira.title}} Tickets
				<i class="material-icons" title='Refresh Tickets'
				(click)="getTickets(true)">update</i>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div [hidden]='!openTickets'>
				<table 
					[ngClass]="{'table-striped': jira.title != 'All Open'}" 
					datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"
				>
					<thead>
						<tr>
							<th>Key</th>
							<th>MSRP</th>
							<th>Summary</th>
							<th>Status</th>
							<th>Start Date</th>
							<th>Due Date</th>
							<th>Estimate</th>
							<th>Logged</th>
							<th>Last Update</th>
							<th>Created</th>
							<th>Crucible</th>
							<th>Assignee</th>
							<th>Customer</th>
						</tr>
					</thead>

					<tbody>
						<tr 
						*ngFor='let ticket of openTickets' 
						id='{{ticket.key}}'
						[ngClass]="{
							'bg-primary': ticket.status == 'Ready for QA' && jira.title == 'All Open',
							'bg-warning': ticket.status == 'Code Review' && jira.title == 'All Open',
							'bg-inverse': ticket.status == 'In Sprint' && jira.title == 'All Open',
							'bg-faded': ticket.status == 'In Development' && jira.title == 'All Open',
							'bg-success': (ticket.status == 'Ready for UCT' || ticket.status == 'Ready for Release') && jira.title == 'All Open',
							'bg-danger': (ticket.status == 'Closed' || ticket.component == 'Merge Code') && jira.title == 'All Open'
						}"
						class="appTicket" [ticket]=ticket [repos]=repos>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

