<ng-progress [showSpinner]="false" [color]="'blue'"></ng-progress>

<div class='loading' [hidden]="!loadingTickets">
	<div class='container'>
		<div class='loader'>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--dot'></div>
			<div class='loader--text'></div>
		</div>
	</div>
</div>

<div class="container-fluid table-spacing" [hidden]='loadingTickets'>
	<div class="row">
		<div class="col-12">
			<h1 class='text-center title-spacing'>{{jira.title}} Tickets</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<div [hidden]='!openTickets'>
				<table [ngClass]="{'table-striped': jira.title != 'All Open'}" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
					<thead>
						<tr>
							<th>Key</th>
							<th>MSRP</th>
							<th>Summary</th>
							<th>Status</th>
							<th>Start Date</th>
							<th>Due Date</th>
							<th>Estimate</th>
							<th>Logged</th>
							<th>Last Update</th>
							<th>Created</th>
							<th>Crucible</th>
							<th>ATTuid</th>
							<th>Customer Attuid</th>
						</tr>
					</thead>

					<tbody>
						<tr 
						*ngFor='let ticket of openTickets' 
						id='{{ticket.key}}'
						[ngClass]="{
							'table-primary': ticket.status == 'Ready for QA' && jira.title == 'All Open',
							'table-warning': ticket.status == 'Code Review' && jira.title == 'All Open',
							'table-light': ticket.status == 'In Sprint' && jira.title == 'All Open',
							'table-info': ticket.status == 'In Development' && jira.title == 'All Open',
							'table-success': (ticket.status == 'Ready for UCT' || ticket.status == 'Ready for Release') && jira.title == 'All Open',
							'table-danger': (ticket.status == 'Closed' || ticket.component == 'Merge Code') && jira.title == 'All Open'
						}"
					>
							<td>
								<a target="_blank" 
									href="{{config.jiraUrl}}/browse/{{ticket.key}}"
									title='view comments'
								>
									{{ticket.key}}
								</a>
							</td>
							<td>
								<div class='float-left'>{{ticket.msrp}}</div>
								<div class="float-right">
									<i 
										(click)="openCommentModal(ticket.key, ticket.comments)" 
										class="material-icons"
										title='Add comment/time log'
									>alarm_add</i>
									<i 
										(click)="openCommentModal(ticket.key, ticket.comments)" 
										class="material-icons"
										title='View comments'
									>storage</i>
								</div>
								
								
							</td>
							<td class='summary-format'>{{ticket.summary}}</td>
							<td>
								<div class='float-left'>
									{{ticket.status}}
									<div>{{ticket.component}}</div>
								</div>
								<i 
									*ngIf='jira.title == "My Open" || jira.title == "All Open"'
									class="material-icons float-right" 
									title='Generate QA/Crucible'
									(click)="openQAModal(ticket.msrp, ticket.key)"
								>
									assignment
								</i>
							</td>
							<td>{{ticket.dates.started | amDateFormat:'LL'}}</td>
							<td>{{ticket.dates.duedate | amDateFormat:'LL'}}</td>
							<td>{{ticket.dates.estimate | worktime }}</td>
							<td>{{ticket.dates.logged | worktime}}</td>
							<td>{{ticket.dates.updated | amDateFormat:'LL'}}</td>
							<td>{{ticket.dates.created | amDateFormat:'LL'}}</td>
							<td>
								<div *ngIf='ticket.crucible_id'>
									<a 
										target="_blank" 
										class='float-left'
										href="{{config.crucibleUrl}}/cru/{{ticket.crucible_id}}">
											{{ticket.crucible_id}}
									</a>
									<i 
										class="material-icons float-right" 
										title='PCR Pass/Complete' 
										(click)="openPCRModal(ticket.crucible_id, ticket.key)"
									>
										done
									</i>
								</div>
							</td>
							<td>
								<a [href]="jira.chatUrlSanitize(ticket.username)" title="Open Q chat window with {{ticket.username}}">{{ticket.username}}</a>
								<img src="http://presence.q.att.com/presence/{{ticket.username}}.gif">
							</td>
							<td>
								<a [href]="jira.chatUrlSanitize(ticket.customer_details.username)" title="Open Q chat window with {{ticket.customer_details.display_name}}">
									{{ticket.customer_details.username}}
								</a>
								<img src="http://presence.q.att.com/presence/{{ticket.customer_details.username}}.gif">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<app-pcr-modal (pcrPassEvent)="pcrPassEvent($event)"></app-pcr-modal>
<app-qa-generator (newCrucible)="newCrucible($event)"></app-qa-generator>
<app-jira-comments></app-jira-comments>