
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<h1 class='text-center title-spacing'>{{jira.title}} Tickets</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<ng-progress [showSpinner]="false" [color]="'blue'"></ng-progress>
			<div [hidden]='!openTickets'>
				<table class='table-striped' datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
					<thead>
						<tr>
							<th>Key</th>
							<th>MSRP</th>
							<th>Summary</th>
							<th>Status</th>
							<th>Start Date</th>
							<th>Due Date</th>
							<th>Estimate</th>
							<th>Logged</th>
							<th>Crucible</th>
							<th>ATTuid</th>
						</tr>
					</thead>

					<tbody>
						<tr *ngFor='let ticket of openTickets' id='{{ticket.key}}'>
							<td><a target="_blank" href="{{jira.jiraUrl}}/browse/{{ticket.key}}">{{ticket.key}}</a></td>
							<td>{{ticket.msrp}}</td>
							<td class='summary-format'>{{ticket.summary}}</td>
							<td>
								<div>
									{{ticket.status}}
								</div>
								<i 
										*ngIf='ticket_list_type == "mytickets" || ticket_list_type == "allopen"'
										class="material-icons" 
										title='Generate QA/Crucible'
										(click)="openQAModal(ticket.msrp, qaModal)"
									>
										assignment
									</i>
								<div>{{ticket.component}}</div>
							</td>
							<td>{{ticket.dates.started | amDateFormat:'LL'}}</td>
							<td>{{ticket.dates.duedate | amDateFormat:'LL'}}</td>
							<td>{{ticket.dates.estimate | worktime }}</td>
							<td>{{ticket.dates.logged | worktime}}</td>
							<td>
								<span *ngIf='ticket.crucible_id'>
									<a target="_blank" href="{{jira.crucibleUrl}}/cru/{{ticket.crucible_id}}">{{ticket.crucible_id}}</a>
									<i 
										*ngIf='ticket_list_type == "pcr" || ticket_list_type == "allopen"'
										class="material-icons" 
										title='PCR Pass/Complete' 
										(click)="openPCRModal(ticket.crucible_id, ticket.key, 'pass', statusModal)"
									>
										done
									</i>
								</span>
							</td>
							<td>
								<a [href]="jira.chatUrlSanitize(ticket.username)" title="Open Q chat window with {{ticket.username}}">{{ticket.username}}</a>
								<img src="http://presence.q.att.com/presence/{{ticket.username}}.gif">

							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>



<!-- PCR Model -->
<ng-template #statusModal let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">PCR Pass/Complete</h4>
    <button type="button" class="close" aria-label="Close" (click)="c()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Would you like to PCR Pass or Complete?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('pass')">PCR Pass</button>
    <button type="button" class="btn btn-outline-dark" (click)="c('complete')">PCR Complete</button>
    <button type="button" class="btn btn-outline-dark" (click)="c()">Cancel</button>
  </div>
</ng-template>


<!-- QA Generator Model -->
<ng-template #qaModal let-c="close" let-d="dismiss">
	<app-qa-generator [modalInstance]=c [qa_submit_disable]=qa_submit_disable></app-qa-generator>
</ng-template>


