<dev-center-modal (modalEvent)=closePingModal($event) [customModalCss]=customModalCss>

	<div class='modal-text'>
		<h4 class="modal-title">Branch Information</h4>
	</div>

	<span class='modal-body'>
		<table class="table">
			<tbody>
				<tr>
					<td>Sprint</td>
					<td>
						<i class="material-icons" title='Copy to clipboard' (click)="misc.copyText(sprintInput)">note</i>
						{{sprint}} 
						<input class='hidden-clip' type="text" #sprintInput value={{sprint}}>
					</td>
				</tr>
				<tr>
					<td>Branch</td>
					<td>
						<i class="material-icons" title='Copy to clipboard' (click)="misc.copyText(branchInput)">note</i>
						{{branch}} 
						<input class='hidden-clip' type="text" #branchInput value={{branch}}>
					</td>
				</tr>
				<tr>
					<td>Commit</td>
					<td>
						<i class="material-icons" title='Copy to clipboard' (click)="misc.copyText(commitInput)">note</i>
						{{commit}} 
						<input class='hidden-clip' type="text" #commitInput value={{commit}}>
					</td>
				</tr>
			</tbody>
		</table>
	</span>

	<span class='modal-footer'>
		<button type="button" class="btn btn-outline-primary" (click)="closePingModal('new')">Send New Ping</button>
		<button type="button" class="btn btn-outline-primary" (click)="closePingModal('merge')">Send Merge Ping</button>
		<button type="button" class="btn btn-outline-danger" (click)="closePingModal('')">Cancel</button>
	</span>
	
</dev-center-modal>