<dev-center-modal [modalSize]=modalSize>
	<div class='modal-header'>Branch Information</div>

	<span class='modal-body'>
		<dc-branch-info [masterBranch]=masterBranch [branch]=branch [commit]=commit></dc-branch-info>
	</span>

	<span class='modal-footer'>
		<button type="button" class="btn btn-outline-primary" (click)="setPing('new')">Send New Ping</button>
		<button type="button" class="btn btn-outline-primary" (click)="setPing('merge')">Send Merge Ping</button>
		<button type="button" class="btn btn-outline-danger" (click)="setPing('')">Cancel</button>
	</span>
	
</dev-center-modal>