
<mat-card class='mat-elevation-z8' dcCopyInputBubble>
	<mat-list>
		<mat-list-item>
			<div class="row full-width">
				<div class="col-md-3">
					Master Branch
				</div>
				<div class="col-md-9">
			 		<i class="material-icons pointer copy-input-dir" title="Copy sprint to clipboard">note</i>
					<span>{{sprint}}</span>
				</div>
			</div>
		</mat-list-item>

		<mat-divider></mat-divider>

		<mat-list-item>
			<div class="row full-width">
				<div class="col-md-3">
					Branch
				</div>
				<div class="col-md-9">
					<i class="material-icons pointer copy-input-dir" title="Copy branch to clipboard">note</i>
					<span>{{branch}}</span>
				</div>
			</div>
		</mat-list-item>

		<mat-divider></mat-divider>

		<mat-list-item>
			<div class="row full-width">
				<div class="col-md-3">
					Commit
				</div>
				<div class="col-md-9">
					<i class="material-icons pointer copy-input-dir" title="Copy commit to clipboard">note</i>
					<span>{{commit}}</span>
				</div>
			</div>
		</mat-list-item>

	</mat-list>
</mat-card>
