.mat-card {
    margin-top: 10px;
    padding: 0px;
}

.mat-card .col-md-9,
.mat-card .col-md-3 {
    padding: 15px;
}

.mat-list-base .mat-list-item, .mat-list-base .mat-list-option {
    height: initial;
}