
.hidden {
	display: none;
}

.jsPanel {
	.jsPanel-headerbar {
		padding: 7px;

		.modal-title {
			font-size: 20px;
		}
	}

	.jsPanel-content {
		padding: 1rem;
	}

	.jsPanel-ftr {
		padding: 7px;
	}
}