<ng-template #pcrModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">PCR Pass/Complete</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Would you like to PCR Pass or Complete?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-success" (click)="c('pass')">PCR Pass</button>
		<button type="button" class="btn btn-outline-primary" (click)="c('complete')">PCR Complete</button>
		<button type="button" class="btn btn-outline-danger" (click)="d()">Cancel</button>
	</div>
</ng-template>