<ng-template #statusModal let-c="close" let-d="dismiss">

	<div class="modal-header" [ngSwitch]="statusType">
		<h4 class="modal-title">
			<ng-template [ngSwitchCase]="'inDev'">In Development</ng-template>
			<ng-template [ngSwitchCase]="'pass'">PCR Pass</ng-template>
			<ng-template [ngSwitchCase]="'complete'">PCR Complete</ng-template>
			<ng-template [ngSwitchCase]="'inQA'">In QA</ng-template>
			<ng-template [ngSwitchCase]="'qaFail'">QA Fail</ng-template>
			<ng-template [ngSwitchCase]="'qaPass'">QA Pass</ng-template>
		</h4>

		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body" [ngSwitch]="statusType">
		<p>
			<ng-template [ngSwitchCase]="'inDev'">Would you like change to 'In Development'?</ng-template>
			<ng-template [ngSwitchCase]="'pass'">Would you like to PCR Pass?</ng-template>
			<ng-template [ngSwitchCase]="'complete'">Would you like to PCR Complete?</ng-template>
			<ng-template [ngSwitchCase]="'inQA'">Would you like change to 'In QA'?</ng-template>
			<ng-template [ngSwitchCase]="'qaFail'">Would you like change to 'QA Fail'?</ng-template>
			<ng-template [ngSwitchCase]="'qaPass'">Would you like change to 'QA Pass'?</ng-template>
		</p>
	</div>

	<div class="modal-footer" [ngSwitch]="statusType">
		<button type="button" class="btn btn-outline-success" (click)="c()">
			<ng-template [ngSwitchCase]="'inDev'">In Development</ng-template>
			<ng-template [ngSwitchCase]="'pass'">PCR Pass</ng-template>
			<ng-template [ngSwitchCase]="'complete'">PCR Complete</ng-template>
			<ng-template [ngSwitchCase]="'inQA'">In QA</ng-template>
			<ng-template [ngSwitchCase]="'qaFail'">QA Fail</ng-template>
			<ng-template [ngSwitchCase]="'qaPass'">QA Pass</ng-template>
		</button>
		<button type="button" class="btn btn-outline-danger" (click)="d()">Cancel</button>
	</div>

</ng-template>
