<ng-template #pcrModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 *ngIf="statusType === 'pass'; else titleElse" class="modal-title">PCR Pass</h4>
		<ng-template #titleElse><h4 class="modal-title">PCR Complete</h4></ng-template>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p *ngIf="statusType === 'pass'; else questionElse">Would you like to PCR Pass?</p>
		<ng-template #questionElse><p>Would you like to PCR Complete?</p></ng-template>
	</div>
	<div class="modal-footer">
		<button 
			*ngIf="statusType === 'pass'; else submitElse"
			type="button" 
			class="btn btn-outline-success" 
			(click)="c('pass')">PCR Pass
		</button>

		<ng-template #submitElse><button 
			type="button" 
			class="btn btn-outline-primary" 
			(click)="c('complete')">PCR Complete
		</button></ng-template>
		<button type="button" class="btn btn-outline-danger" (click)="d()">Cancel</button>
	</div>
</ng-template>