<ng-template #pingModal let-c="close" let-d="dismiss">
	<div class="modal-header">
		<h4 class="modal-title">Branch Information</h4>
		<button type="button" class="close" aria-label="Close" (click)="d()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<div class="modal-body">
		<table class="table">
			<tbody>
				<tr>
					<td>Sprint</td>
					<td>
						<i class="material-icons" title='Copy to clipboard' (click)="jira.copyText(sprintInput)">note</i>
						{{sprint}} 
						<input class='hidden-clip' type="text" #sprintInput value={{sprint}}>
					</td>
				</tr>
				<tr>
					<td>Branch</td>
					<td>
						<i class="material-icons" title='Copy to clipboard' (click)="jira.copyText(branchInput)">note</i>
						{{branch}} 
						<input class='hidden-clip' type="text" #branchInput value={{branch}}>
					</td>
				</tr>
				<tr>
					<td>Commit</td>
					<td>
						<i class="material-icons" title='Copy to clipboard' (click)="jira.copyText(commitInput)">note</i>
						{{commit}} 
						<input class='hidden-clip' type="text" #commitInput value={{commit}}>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="modal-footer">
		<button type="button" class="btn btn-outline-success" (click)="c('new')">Send New Ping</button>
		<button type="button" class="btn btn-outline-success" (click)="c('merge')">Send Merge Ping</button>
		<button type="button" class="btn btn-outline-danger" (click)="d()">Cancel</button>
	</div>
</ng-template>
