$infoColor: #0275d8;

#toast-container {
	z-index: 10000;

	div {
		border-radius: 0;
		box-shadow: none;
	}

	&.toast-top-right {
		top: 100px;
	}

	.toast-info {
		background-color: $infoColor !important;
	}
}

