<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>iTrack2</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link href="static/css/iTrack.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <!-- itrack2 links -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="devDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Jira Links</a>
            <div class="dropdown-menu" aria-labelledby="devDropdown">
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/issues/?jql=assignee%20%3D%20currentUser()%20AND%20resolution%20%3D%20unresolved%20ORDER%20BY%20priority%20DESC%2C%20created%20ASC">My Tickets</a>
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/issues/?filter=11128">PCR Needed</a>
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/issues/?filter=11019">QA Needed</a>
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/issues/?filter=11014">UCT Ready</a>
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/issues/?filter=11007">CR Needed</a>
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/issues/?filter=11418">All My Tickets</a>
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/issues/?filter=11002">All Open Tickets</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" target="_blank" href="https://jira.web.att.com:8443/secure/Dashboard.jspa">Jira</a>
              <a class="dropdown-item" target="_blank" href="https://icode3.web.att.com/cru/browse/CR-UD">Crucible</a>
              <a class="dropdown-item" target="_blank" href="https://codecloud.web.att.com/projects">Code Cloud</a>
            </div>
          </li>

          <!-- dev links -->  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Dev Links
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="http://m5devacoe01.gcsc.att.com:8173/UD/cgi-bin/worklist.pl">UD</a></li>

              <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Ember</a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/asset/history?asset=TEST&UAT=0&usertimezone=America/New_York&usertimeformat=12HR">Asset History</a></li>
                  <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" href="#">Orders</a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/GAS544770001">GAS544770001 (EAN Data)</a></li>
                      <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/OKS433527001">OKS433527001 (Word Doc)</a></li>
                      <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/HOC574865001">HOC574865001 (Juniper)</a></li>
                      <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/BAS539606001">BAS539606001 (Inventory Data)</a></li>
                      <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/MIS140524001">MIS140524001 (CTH Data)</a></li>
                    </ul>
                  </li>
                  <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/group-lead?lead_ticket=WTXIV000724">Group Ticket</a></li>
                  <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/ticket/ethernet/WTXIV000892">WFA Ticket</a></li>
                  <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/administration?attuid=lm240n">Admin Panel</a></li>
                  <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/BAS539606001">Order</a></li>
                  <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/BAS539606001">BMP Ticket</a></li>
                  <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/UD-ember/order/ethernet/BAS539606001">ELD</a></li>
                </ul>
              </li>

              <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/aqe/cgi-bin/index.pl">AQE</a></li>
              <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/teamdb/view.php?ATTuid=lm240n">TeamDB</a></li>
              <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/wam/cgi-bin/wam.pl">WAM</a></li>
              <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/upm/app.php">UPM</a></li>
              <li><a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/Templates/cgi-bin/Template.pl">Template Tool</a></li>

            </ul>
          </li>

          <!-- prod links -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="prodDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Prod Links</a>
            <div class="dropdown-menu" aria-labelledby="prodDropdown">
              <a class="dropdown-item" target="_blank" href="http://ud.web.att.com/UD/cgi-bin/worklist.pl">UD</a>
              <a class="dropdown-item" target="_blank" href="http://aqe.web.att.com/aqe/cgi-bin/index.pl">AQE</a>
              <a class="dropdown-item" target="_blank" href="http://teamdb.web.att.com/teamdb/view.php?ATTuid=lm240n">TeamDB</a>
              <a class="dropdown-item" target="_blank" href="http://m5devacoe01.gcsc.att.com:8173/wam/cgi-bin/wam.pl">WAM</a>
              <a class="dropdown-item" target="_blank" href="http://gcs-upm.web.att.com/upm2/access.php">UPM</a>
              <a class="dropdown-item" target="_blank" href="http://gcs-templates.web.att.com/Templates/cgi-bin/Template.pl">Template Tool</a>
              <a class="dropdown-item" target="_blank" href="http://chrapud09.gcsc.att.com/tqi3/cgi-bin/index.pl">TQI</a>
            </div>
          </li>

          <!-- beta links -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="betaDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Beta Links</a>
            <div class="dropdown-menu" aria-labelledby="betaDropdown">
              <a class="dropdown-item" target="_blank" href="http://ud-beta.web.att.com/UD/cgi-bin/worklist.pl">UD</a>
              <a class="dropdown-item" target="_blank" href="http://chrapud16b.gcsc.att.com/aqe/cgi-bin/index.pl">AQE</a>
              <a class="dropdown-item" target="_blank" href="http://chrapud16b.gcsc.att.com/teamdb/view.php?ATTuid=lm240n">TeamDB</a>
              <a class="dropdown-item" target="_blank" href="http://chrapud16b.gcsc.att.com/wam/cgi-bin/wam.pl">WAM</a>
              <a class="dropdown-item" target="_blank" href="http://chrapud16b.gcsc.att.com/upm2/access.php">UPM</a>
              <a class="dropdown-item" target="_blank" href="http://chrapud16b.gcsc.att.com/Templates/cgi-bin/Template.pl">Template Tool</a>
              <a class="dropdown-item" target="_blank" href="http://chrapud16b.gcsc.att.com/tqi3/cgi-bin/index.pl">TQI</a>
            </div>
          </li>

          <!-- wiki links -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="betaDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Wiki Links</a>
            <ul class="dropdown-menu" aria-labelledby="betaDropdown">
              <li><a class="dropdown-item" target="_blank" href="http://glossary.web.att.com/">Glossary</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/GCS+BizOps">Biz Ops</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/pages/viewpage.action?pageId=480723373">Accelerate</a></li>
              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/Ember+Installation+and+Setup">Ember Install</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/Complete+New+Hire+Training+Program">New Hire</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/HOWTO%3A+Create+a+SASHA+UA+Ticket">Create SASHA UA Ticket</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/AQE%3A+How+to+Work+An+AQE+Search+String+Ticket">AQE Basics</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/pages/viewpage.action?spaceKey=GCSDevOps&title=HOWTO%3A+Report+an+API+Defect">API Defect</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/Team+Deployments+Walkthrough">Team Deployments</a></li>

              <li class="dropdown-submenu">
                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#">Coding Standards</a>
                <ul class="dropdown-menu">
                  <a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/pages/viewpage.action?pageId=383617008">Perl</a></li>
                  <a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/DTI+-+JavaScript+Coding+Standards">JavaScript</a></li>
                  <a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/DTI+-+SQL+Coding+Standards">SQL</a></li>
                </ul>
              </li>

              <div class="dropdown-divider"></div>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/Git+Process+-+DTI">Git Repos</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/Test+Circuits+for+BMP+and+WFA">Test Circuits</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/Crucible+Code+Reviews">Crucible PCR Process</a></li>
              <li><a class="dropdown-item" target="_blank" href="https://wiki.web.att.com/display/GCSDevOps/Developer+Workflow+in+JIRA">Jira Workflow</a></li>

            </ul>
          </li>
        </ul>

        <!-- jira ticket search -->
        <form class="form-inline my-2 my-lg-0" id='JiraSearchform'>
          <input class="form-control mr-sm-2" id='searchJiraInput' type="text" placeholder="Search Jira ticket" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <div class="container" id='mainContainer'></div>

    <!-- JavaScript -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>

    <script src="static/js/iTrack.js"></script>

  </body>
</html>
