<nav class="navbar fixed-top navbar-expand-lg z-index-2">
	<a [routerLink]="['/']" class="navbar-brand">Dev Center</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li ngbDropdown class="d-inline-block" *ngIf="!user.needRequiredCredentials()">
				<a class="nav-link dropdown-toggle" id="devDropdown" ngbDropdownToggle>Ticket Lists</a>

				<ul ngbDropdownMenu aria-labelledby="devDropdown">
					<dc-jql-links [jqlNavbar]=jqlNavbar></dc-jql-links>
					<li><div class="dropdown-divider"></div></li>
					
					<li><a class="dropdown-item" target="_blank" href="{{config.crucibleUrl}}{{config.cruciblePath}}">Crucible</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{config.codeCloudUrl}}{{config.codeCloudPath}}">Code Cloud</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{config.jiraUrl}}{{config.scrumBoardPath}}">Scrum Board</a></li>
				</ul>
			</li>

			<dc-dropdown-menu 
				*ngIf='navBarItems?.DevLinks'
				[navLinks]=navBarItems.DevLinks
				[baseUrl]=devUrlBase
				[emberUrl]=emberUrlBase
				[teamUrl]=teamEmberUrlBase
			></dc-dropdown-menu>

			<dc-dropdown-menu 
					*ngIf='navBarItems?.BetaLinks' 
					[navLinks]=navBarItems.BetaLinks 
					[baseUrl]='this.config.betaUrl'
			></dc-dropdown-menu>
			
			<dc-dropdown-menu 
				*ngIf='navBarItems?.ProdLinks' 
				[navLinks]=navBarItems.ProdLinks
			></dc-dropdown-menu>

			<dc-dropdown-menu 
				*ngIf='navBarItems?.HelpfulLinks' 
				[navLinks]=navBarItems.HelpfulLinks 
				[baseUrl]=this.config.wikiUrl
			></dc-dropdown-menu>

			<!-- misc top level links -->
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="{{config.msrpLink}}">MSRP</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="{{config.myApex}}">My APEX</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" target="_blank" href="{{config.jiraUrl}}">JIRA</a>
			</li>
			
			<!-- log your hours -->
			<li class="nav-item" *ngIf='showLogHours'>
				<a class="nav-link confirm_selection" target="_blank" href="{{config.myApex}}">
					Log Your Hours
				</a>
			</li>
		</ul>

		<dc-searchbar></dc-searchbar>

		<span *ngIf='userProfile'>
			<dc-navbar-user [userProfile]=userProfile></dc-navbar-user>
		</span>
		
	</div>
</nav>







