$darkblk: #292b2c;
$offdark: #333;
$linkhover: #0056b3;
$white: #fff;
$success: #28a745;


.dropdown-item:hover {
	background-color: $linkhover;
	color: #fff;
}

.navbar{
	background-color: $darkblk;
}

.fixed-top {
	z-index: 99;
}


/* label underline focus color */
.input-field input[type=text] {
	border: 1px solid $offdark;
	box-shadow: 0 1px 0 0 $offdark;
	padding-left: 10px;
}

a {
	cursor: pointer;
}

img {
	width: 30px;
	height: 30px;
}


.confirm_selection {
    animation: glow 0.5s infinite alternate;
    color: red;
    font-weight: bold;
}

@keyframes glow {
    to {
        text-shadow: 0 0 30px rgba(255,255,255,0.4);
    }
}

