
<ul class="navbar-nav position-relative">
	<li ngbDropdown placement="bottom-right" class="d-inline-block" *ngIf='!user.needRequiredCredentials()'>
		<a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle>
			<img src={{userProfile?.avatar}} alt="">
			{{userProfile?.displayName}}
		</a>
		<div ngbDropdownMenu aria-labelledby="userDropdown">
			<li><a class="dropdown-item" (click)='userSetting.openModal()'>User Settings</a></li>
			<li><a class="dropdown-item" (click)='openAboutModal()'>About</a></li>
			<li><div class="dropdown-divider"></div></li>
			<li><a class="dropdown-item"(click)='logout.openModal()'>Logout</a></li>
		</div>
	</li>
</ul>

<dc-user-settings-modal #userSetting></dc-user-settings-modal>
<dc-logout #logout></dc-logout>


<dev-center-modal (modalEvent)="closeAboutModal()" [customModalCss]=customModalCss>
	<div class='modal-text'>
		<h4 class="modal-title">About</h4>
	</div>

	<span class='modal-body'>
		<div class="row">
			<div class="col-sm-6">
				<p>Author: Leonardo Merza</p>
				<div>Frontend Versions:</div>
				<ul>
					<li *ngFor='let module of frontendVersions'>
						{{module.name}}: {{module.version}}
					</li>
				</ul>
			</div>
			<div class="col-sm-6">
				<p>Version: {{packageFile.version}}</p>
				<div>Backend Versions:</div>
				<ul>
					<li>Flask v0.12.2</li>
					<li>Flask-Cors v3.0.3</li>
					<li>flask-socketio v0.10.1</li>
					<li>SQLAlchemy v1.1.14</li>
					<li>PyMySQL v0.7.11</li>
					<li>requests v2.18.4</li>
					<li>gevent v1.0.3</li>
					<li>gevent-websocket v1.0.3</li>
				</ul>
			</div>
		</div>
	</span>

	<span class='modal-footer'>
		<button type="submit" class="btn btn-outline-danger" (click)="closeAboutModal()">Close</button>
	</span>
</dev-center-modal>