$header-bg: #0275d8;

.modal-header {
	background-color: $header-bg;
	color: #FFF;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding: 0px;
	margin: 0px;

	h4, button {
		margin-top: 15px;
		justify-content: space-between;
	}

	h4 {
		padding-left: 15px;
	}

	.close {
		margin: 0px;
		color: #FFF;
	}

	.material-icons {
		font-size: 35px;
	}
}

.modal-content {
	border-radius: 0;
}

.modal-footer {
	button {
		border-radius: 0;
	}
}