
<a mat-menu-item class="dropdown-item" [routerLink]="['/jira/tickets', navLink.name, {jql: navLink.query, displayName:navLink.display_name}]"
 *ngIf='navLink.query; else customRoute'>
	{{navLink.display_name}}
</a>

<!-- custom router link -->
<ng-template #customRoute>
	<a mat-menu-item class="dropdown-item" [routerLink]="[navLink.routerLink]" *ngIf='navLink.routerLink; else fullLink'>
		{{navLink.display_name}}
	</a>
</ng-template>

<!-- full link -->
<ng-template #fullLink>
	<a 
		mat-menu-item 
		class="dropdown-item" 
		target="_blank" 
		href="{{navLink.link}}"
		*ngIf='navLink.hasFullUrl; else emberLink' 
	>
		{{navLink.name}}
	</a>
</ng-template>

<!-- link with given emberUrl -->
<ng-template #emberLink>
	<a 
		mat-menu-item
		class="dropdown-item" 
		target="_blank" 
		href="{{emberUrl}}/{{navLink.link}}"
		*ngIf='navLink.isEmber; else teamUrlLink' 
	>
		{{navLink.name}}
	</a>
</ng-template>

<!-- link given teamUrl -->
<ng-template #teamUrlLink>
	<a 
		mat-menu-item 
		class="dropdown-item" 
		target="_blank" 
		href="{{teamUrl}}/{{navLink.link}}"
		*ngIf='navLink.isTeam; else baseUrlLink' 
	>
		{{navLink.name}}
	</a>
</ng-template>

<!-- link given baseUrl -->
<ng-template #baseUrlLink>
	<a
		mat-menu-item 
		class="dropdown-item" 
		target="_blank" 
		href="{{baseUrl}}/{{navLink.link}}"
	>
		{{navLink.name}}
	</a>
</ng-template>