<button mat-menu-item>
	<!-- full link given -->
	<a *ngIf='navLink.query; else fullLink' class="dropdown-item" [routerLink]="['/jira', navLink.name, {jql: navLink.query, displayName:navLink.display_name}]">
		{{navLink.display_name}}
	</a>

	<ng-template #fullLink>
		<a *ngIf='navLink.hasFullUrl; else emberLink' class="dropdown-item" target="_blank" href="{{navLink.link}}">
			{{navLink.name}}
		</a>
	</ng-template>

	<!-- link with given emberUrl -->
	<ng-template #emberLink>
		<a 
			*ngIf='navLink.isEmber; else teamUrlLink' 
			class="dropdown-item" target="_blank" 
			href="{{emberUrl}}/{{navLink.link}}">
			{{navLink.name}}
		</a>
	</ng-template>

	<!-- link given teamUrl -->
	<ng-template #teamUrlLink>
		<a 
			*ngIf='navLink.isTeam; else baseUrlLink' 
			class="dropdown-item" target="_blank" 
			href="{{teamUrl}}/{{navLink.link}}">
			{{navLink.name}}
		</a>
	</ng-template>

	<!-- link given baseUrl -->
	<ng-template #baseUrlLink>
		<a class="dropdown-item" target="_blank" href="{{baseUrl}}/{{navLink.link}}">
			{{navLink.name}}
		</a>
	</ng-template>
</button>