<td>
	<span class="material-icons text-success" title="Copy to clipboard" (click)='misc.copyText(keyInput)'>note</span>
	<a target="_blank" href="{{config.jiraUrl}}/browse/{{ticket?.key}}" title='Open in Jira'>
		{{ticket?.key}}
	</a>
	<input class='key-copy' value='{{ticket?.key}}' #keyInput>
</td>

<td>
	<span class="material-icons text-success" title="Copy to clipboard" (click)='misc.copyText(msrpInput)'>note</span>
	{{ticket?.msrp}}
	<input class='key-copy' value='{{ticket?.msrp}}'#msrpInput>
</td>

<td class='actions-td'>
	<i (click)="openPingModel()" class="material-icons text-primary" title='Branch Information'>record_voice_over</i>
	<i (click)="openLogModal()" class="material-icons text-warning" title='Add comment/work log'>alarm_add</i>
	<i (click)="openModal()" class="material-icons text-success"title='View comments'>storage</i>
	<i (click)="openAdditionalDataModal()" class="material-icons text-info" title='View Additional Data'>live_help</i>

	<!-- watchers -->
	<dc-watchers [watchers]=ticket?.watchers [key]=ticket?.key></dc-watchers>
</td>



<!-- summary -->
<td class='summary-td'>{{ticket?.summary}}</td>

<!-- state dropdown -->
<td><dc-ticket-status [key]=ticket.key [ticketListType]=ticketListType></dc-ticket-status></td>

<!-- dates -->
<td class='dates-td'>{{ticket?.dates?.started | amDateFormat:'LL'}}</td>
<td class='dates-td'>{{ticket?.dates?.duedate | amDateFormat:'LL'}}</td>
<td class='dates-td'><dc-ticket-dates [datetime]=ticket?.dates?.estimate_seconds></dc-ticket-dates></td>
<td class='dates-td'><dc-ticket-dates [datetime]=ticket?.dates?.logged_seconds></dc-ticket-dates></td>
<td class='dates-td'>{{ticket?.dates?.updated | amDateFormat:'LL'}}</td>
<td class='dates-td'>{{ticket?.dates?.created | amDateFormat:'LL'}}</td>

<td><dc-crucible [key]=ticket?.key [ticketListType]=ticketListType></dc-crucible></td>
<td><dc-user-details [msrp]=ticket?.msrp [user]=ticket?.user_details></dc-user-details></td>
<td><dc-user-details [msrp]=ticket?.msrp [user]=ticket?.customer_details></dc-user-details></td>