<!-- key -->
<td>
	<div class='float-left'>
		<a target="_blank" href="{{config.jiraUrl}}/browse/{{ticket.key}}" title='Open in Jira'>{{ticket.key}}</a>
	</div>
	<div class="float-right">
		<i (click)="openPingModel()" class="material-icons success" title='Branch Information'>record_voice_over</i>
	</div>	
</td>

<!-- msrp -->
<td>
	<div class='float-left'>{{ticket.msrp}}</div>
	<div class="float-right">
		<i (click)="openLogModal()" class="material-icons success" title='Add comment/time log'>alarm_add</i>
		<i (click)="openModal()" class="material-icons success"title='View comments'>storage</i>
	</div>
</td>

<!-- summary -->
<td class='summary-format'>
	<i class="material-icons success" title='View Additional Data' 
	(click)="openAdditionalDataModal()">live_help</i>
	{{ticket.summary}}
</td>

<!-- state dropdown -->
<td>
	<dc-ticket-status
		[ticketStatus]=ticket.status
		[ticketKey]=ticket.key
		[ticketMsrp]=ticket.msrp
		[ticketCrucible]=ticket.crucible_id
		[repos]=repos
		(commentChangeEvent)="commentChangeEvent($event)"
	></dc-ticket-status>
</td>

<!-- dates -->
<td>{{ticket.dates.started | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.duedate | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.estimate | worktime }}</td>
<td>{{ticket.dates.logged | worktime}}</td>
<td>{{ticket.dates.updated | amDateFormat:'LL'}}</td>
<td>{{ticket.dates.created | amDateFormat:'LL'}}</td>

<!-- cru id -->
<td>
	<div class='float-left' *ngIf='ticket.crucible_id'>
		<a target="_blank" href="{{config.crucibleUrl}}/cru/{{ticket.crucible_id}}">
			{{ticket.crucible_id}}
		</a>
	</div>
	<div class='float-right' *ngIf='ticket.crucible_id'>
		<i title='Open Crucible as Reviewer' class="material-icons success float-right" (click)="addReviewer()">
			history
		</i>
	</div>
</td>

<!-- user data -->
<td><dc-user-details [msrp]=ticket.msrp [user]=ticket.user_details></dc-user-details></td>

<!-- customer data -->
<td>
	<dc-user-details [msrp]=ticket.msrp [user]=ticket.customer_details></dc-user-details>
</td>