<dc-panel [modalSize]='"lg"'>
	<div class='modal-header'>{{key}} Comments</div>

	<span class='modal-body comments-dialog'>
		<dc-loading-details [loading]=loading>
			<mat-accordion [multi]=true [displayMode]='"flat"'>
				<mat-expansion-panel *ngFor='let comment of ticket?.comments; last as isLast' [expanded]='isLast'>
					<mat-expansion-panel-header>
						<mat-panel-title>
							<dc-user-chat [username]=comment.username [displayName]=comment.display_name></dc-user-chat>
							<span class="float-right">
								{{comment.created | amDateFormat:'MM/D/YY h:mm A'}}
							</span>
						</mat-panel-title>
					</mat-expansion-panel-header>
					
					<div class="edit-buttons-container" *ngIf='comment.username == settings.username'>
						<div class="row">
							<div class="col-md-12">
								<button mat-raised-button color="primary" *ngIf='comment.id !== commentEditingId' (click)="toggleEditing(comment)">
								   Edit Comment
								</button>

								<button mat-raised-button color="warn" *ngIf='comment.id === commentEditingId' (click)="toggleEditing(comment)">
									Cancel Editing
								</button>

								<button mat-raised-button color="primary" *ngIf='comment.id === commentEditingId' (click)="editComment()">
									Save Changes
								</button>

								<button mat-raised-button color="warn" *ngIf='comment.id !== commentEditingId' (click)="deleteComment(comment.id)">
									Delete Comment
								</button>
							</div>
						</div>
					</div>
					

					<!-- comment body -->
					<div dcCopyInputBubble *ngIf="comment.id !== commentEditingId; else commentEditArea" [innerHTML]="comment.comment | commentFormat:ticket?.attachments | safehtml"></div>
					
					<!-- text area comment body -->
					<ng-template #commentEditArea>
						<textarea 
							[id]=comment.editId 
							class='edit-area' 
							cols="100" 
							rows=20 
							[(ngModel)]=commentEditingText
						></textarea>
					</ng-template>
				</mat-expansion-panel>
			</mat-accordion>
		</dc-loading-details>
	</span>

	<span class='modal-footer align-footer'>
		<button mat-raised-button color='primary' (click)="toggleAllPanels()">
		   Toggle All Panels
		</button>

		<button mat-raised-button color='warn' (click)="modal.closeModal()">
		   Close
		</button>
	</span>
</dc-panel>


<dc-panel #deleteModal>
	<div class='modal-header'>Delete Comment {{deleteCommentId}} for Ticket {{key}}?</div>

	<span class='modal-body'>
		Are You sure you want to delete this comment?
	</span>

	<span class="modal-footer">
		<button mat-raised-button color='primary' (click)="deleteCommentConfirm()">
		   Yes
		</button>

		<button mat-raised-button color='warn' (click)="deleteModal.closeModal()">
		   No
		</button>
	</span>
</dc-panel>