.comments-dialog {
	.comment-table {
		width: 100%;
	    margin-bottom: 10px;
	    margin-top: 10px;
	}

	.confluenceTd {
		margin-left: 10px;
		margin-right: 10px;
	}

	.edit-buttons-container {
		margin-bottom: 20px;
		margin-right: 10px;

		button {
			float: right;
			margin-right: 5px;
		}
	}

	.mat-expansion-panel-body {
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}

	.mat-expansion-panel{
	  	border-radius: 0 !important;
	}
}

