<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="#">Dev Center</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">

			<!-- itrack2 links -->
			<li ngbDropdown class="d-inline-block">
				<a class="nav-link dropdown-toggle" id="devDropdown" ngbDropdownToggle>Jira Links</a>

				<div ngbDropdownMenu aria-labelledby="devDropdown">
					<a class="dropdown-item" [routerLink]="['/jira', 'mytickets']">My Tickets</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'pcr']">PCR Needed</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'qa']">QA Needed</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'uctready']">UCT Ready</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'cr']">CR Needed</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" [routerLink]="['/jira', 'allopen']">All Open Tickets</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'allmy']">All My Tickets</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'beta']">Beta Tickets</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'teamdb_ember']">TeamDB Ember</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'sme']">SME</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'apollo']">Apollo</a>
					<a class="dropdown-item" [routerLink]="['/jira', 'scrum']">Scrum Board</a>
					<div class="dropdown-divider"></div>
					<a class="dropdown-item" target="_blank" href="{{data.jiraUrl}}/secure/Dashboard.jspa">Jira</a>
					<a class="dropdown-item" target="_blank" href="{{data.crucibleUrl}}/cru/browse/CR-UD">Crucible</a>
					<a class="dropdown-item" target="_blank" href="{{data.codeCloudUrl}}/projects">Code Cloud</a>
					<a class="dropdown-item" target="_blank" href="{{data.jiraUrl}}/secure/RapidBoard.jspa?rapidView=178&view=planning.nodetail&versions=visible">Scrum Board</a>
				</div>
			</li>


			<!-- dev links -->	
			<li ngbDropdown class="d-inline-block">
				<a class="nav-link dropdown-toggle" id="devDropdown" ngbDropdownToggle>Dev Links</a>
				<ul ngbDropdownMenu aria-labelledby="devDropdown">

					<li><a class="dropdown-item" target="_blank" href="{{data.devUrl}}:{{user.port}}/UD/cgi-bin/worklist.pl">UD</a></li>
	
					<li class="dropdown-submenu">
						<a class="dropdown-item">Ember<i class="material-icons dropdown-submenu-icon">play_arrow</i></a>
						<ul class="dropdown-menu dropdown-submenu-items">
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}asset/history?asset=TEST&UAT=0&usertimezone=America/New_York&usertimeformat=12HR">Asset History</a></li>
							
							<li class="dropdown-submenu">
								<a class="dropdown-item">Orders <i class="material-icons dropdown-submenu-icon">play_arrow</i></a>
								<ul class="dropdown-menu dropdown-submenu-items">
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/GAS544770001">GAS544770001 (EAN Data)</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/OKS433527001">OKS433527001 (Word Doc)</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/HOC574865001">HOC574865001 (Juniper)</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/BAS539606001">BAS539606001 (Inventory Data)</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/MIS140524001">MIS140524001 (CTH Data)</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/MIS140524001">NCC326168001 (EVC Data)</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/TNS268897001">TNS268897001</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/SLS817036001">SLS817036001</a></li>
									<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/SWS230192001 ">SWS230192001</a></li>
								</ul>
							</li>

							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/group-lead?lead_ticket=WTXIV000724">Group Ticket</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}ticket/ethernet/WTXIV000892">WFA Ticket</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}administration?attuid={{user.username}}">Admin Panel</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/BAS539606001">BMP Ticket</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:{{user.emberPort}}/UD-ember/{{user.emberLocal}}order/ethernet/BAS539606001">ELD</a></li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item" data-toggle="dropdown" href="#">TeamDB Ember<i class="material-icons dropdown-submenu-icon">play_arrow</i></a>
						<ul class="dropdown-menu dropdown-submenu-items">
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:5{{user.emberPort}}/teamdb/team">Teams</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:5{{user.emberPort}}/teamdb/team/227">Edit Team</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:5{{user.emberPort}}/teamdb/user/{{user.username}}">Edit Profile</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://{{user.emberUrl}}:5{{user.emberPort}}/teamdb/workgroup">Workgroup</a></li>
						</ul>
					</li>

					<li><a class="dropdown-item" target="_blank" href="{{data.devUrl}}:{{user.port}}/aqe/cgi-bin/index.pl">AQE</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.devUrl}}:{{user.port}}/teamdb/view.php?ATTuid={{user.username}}">TeamDB</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.devUrl}}:{{user.port}}/wam/cgi-bin/wam.pl">WAM</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.devUrl}}:{{user.port}}/upm/app.php">UPM</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.devUrl}}:{{user.port}}/Templates/cgi-bin/Template.pl">Template Tool</a></li>

				</ul>
			</li>

			<!-- prod links -->
			<li ngbDropdown class="d-inline-block">
				<a class="nav-link dropdown-toggle" id="prodDropdown" ngbDropdownToggle>Prod Links</a>
				<div ngbDropdownMenu aria-labelledby="prodDropdown">
					<a class="dropdown-item" target="_blank" href="http://ud.web.att.com/UD/cgi-bin/worklist.pl">UD</a>
					<a class="dropdown-item" target="_blank" href="http://aqe.web.att.com/aqe/cgi-bin/index.pl">AQE</a>
					<a class="dropdown-item" target="_blank" href="http://teamdb.web.att.com/teamdb/view.php?ATTuid={{user.username}}">TeamDB</a>
					<a class="dropdown-item" target="_blank" href="http://wam.web.att.com/wam/cgi-bin/wam.pl">WAM</a>
					<a class="dropdown-item" target="_blank" href="http://gcs-upm.web.att.com/upm2/access.php">UPM</a>
					<a class="dropdown-item" target="_blank" href="http://gcs-templates.web.att.com/Templates/cgi-bin/Template.pl">Template Tool</a>
					<a class="dropdown-item" target="_blank" href="http://chrapud09.gcsc.att.com/tqi3/cgi-bin/index.pl">TQI</a>
				</div>
			</li>

			<!-- beta links -->
			<li ngbDropdown class="d-inline-block">
				<a class="nav-link dropdown-toggle" id="betaDropdown" ngbDropdownToggle>Beta Links</a>
				<div ngbDropdownMenu aria-labelledby="betaDropdown">
					<a class="dropdown-item" target="_blank" href="http://ud-beta.web.att.com/UD/cgi-bin/worklist.pl">UD</a>
					<a class="dropdown-item" target="_blank" href="{{data.betaUrl}}/aqe/cgi-bin/index.pl">AQE</a>
					<a class="dropdown-item" target="_blank" href="{{data.betaUrl}}/teamdb/teams.php">TeamDB</a>
					<a class="dropdown-item" target="_blank" href="{{data.betaUrl}}/wam/cgi-bin/wam.pl">WAM</a>
					<a class="dropdown-item" target="_blank" href="{{data.betaUrl}}/upm2/access.php">UPM</a>
					<a class="dropdown-item" target="_blank" href="{{data.betaUrl}}/Templates/cgi-bin/Template.pl">Template Tool</a>
					<a class="dropdown-item" target="_blank" href="{{data.betaUrl}}/tqi3/cgi-bin/index.pl">TQI</a>
				</div>
			</li>

			<!-- wiki links -->
			<li ngbDropdown class="d-inline-block">
				<a class="nav-link dropdown-toggle" id="betaDropdown" ngbDropdownToggle>Wiki Links</a>
				<ul ngbDropdownMenu aria-labelledby="betaDropdown">
					<li><a class="dropdown-item" target="_blank" href="http://glossary.web.att.com/">Glossary</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/GCS+BizOps">Biz Ops</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/pages/viewpage.action?pageId=480723373">Accelerate</a></li>
					<div class="dropdown-divider"></div>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/Complete+New+Hire+Training+Program">New Hire</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/HOWTO%3A+Create+a+SASHA+UA+Ticket">Create SASHA UA Ticket</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/AQE%3A+How+to+Work+An+AQE+Search+String+Ticket">AQE Basics</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/pages/viewpage.action?spaceKey=GCSDevOps&title=HOWTO%3A+Report+an+API+Defect">API Defect</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/Team+Deployments+Walkthrough">Team Deployments</a></li>
					<div class="dropdown-divider"></div>
					
					<li class="dropdown-submenu">
						<a class="dropdown-item" data-toggle="dropdown" href="#">Ember Links<i class="material-icons dropdown-submenu-icon">play_arrow</i></a>
						<ul class="dropdown-menu dropdown-submenu-items">
							<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/Ember+Installation+and+Setup">Ember Install</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://emberjs.com/api/ember/2.14/modules/ember">Ember API</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://emberjs.com/api/ember-data/2.14/modules/ember-data">Ember-Data API</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://guides.emberjs.com/v2.14.0/testing/acceptance/">Ember Acceptance Test</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://ember-twiddle.com">Ember Twiddle</a></li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item" data-toggle="dropdown" href="#">Coding Standards<i class="material-icons dropdown-submenu-icon">play_arrow</i></a>
						<ul class="dropdown-menu dropdown-submenu-items">
							<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/pages/viewpage.action?pageId=383617008">Perl</a></li>
							<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/DTI+-+JavaScript+Coding+Standards">JavaScript</a></li>
							<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/DTI+-+SQL+Coding+Standards">SQL</a></li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item" data-toggle="dropdown" href="#">Documentation<i class="material-icons dropdown-submenu-icon">play_arrow</i></a>
						<ul class="dropdown-menu dropdown-submenu-items">
							<li><a class="dropdown-item" target="_blank" href="https://datatables.net/reference/api">DataTables</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://momentjs.com/docs/">moment.js</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://lodash.com/docs/4.17.4">Lodash</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://underscorejs.org/">Underscore</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://docs.atlassian.com/jira/REST/cloud">Jira API</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://www.ember-power-select.com/docs/how-to-use-it">Ember Power Select</a></li>
						</ul>
					</li>

					<li class="dropdown-submenu">
						<a class="dropdown-item" data-toggle="dropdown" href="#">Pretty Printers<i class="material-icons dropdown-submenu-icon">play_arrow</i></a>
						<ul class="dropdown-menu dropdown-submenu-items">
							<li><a class="dropdown-item" target="_blank" href="http://xmlprettyprint.com/">XML</a></li>
							<li><a class="dropdown-item" target="_blank" href="http://jsonprettyprint.com/">JSON</a></li>
							<li><a class="dropdown-item" target="_blank" href="https://www.10bestdesign.com/dirtymarkup/">HTML/CSS/JS</a></li>
						</ul>
					</li>

					<div class="dropdown-divider"></div>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/Git+Process+-+DTI">Git Repos</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/Test+Circuits+for+BMP+and+WFA">Test Circuits</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/Crucible+Code+Reviews">Crucible PCR Process</a></li>
					<li><a class="dropdown-item" target="_blank" href="{{data.wikiUrl}}/display/GCSDevOps/Developer+Workflow+in+JIRA">Jira Workflow</a></li>
					<div class="dropdown-divider"></div>
					<li><a class="dropdown-item" target="_blank" href="http://moose.web.att.com/">Moose</a></li>
					<li><a class="dropdown-item" target="_blank" href="https://repl.it/">RPEL</a></li>

				</ul>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="http://ix.web.att.com:2017/">MSRP</a>
			</li>
		</ul>

		<!-- jira ticket search -->
		<form class="form-inline mr-30" id='JiraSearchform'>
			<input 
				class="form-control mr-sm-2" 
				id='searchJiraInput' 
				type="text" 
				placeholder="Search Jira ticket" 
				aria-label="Search"
				[ngModelOptions]="{standalone: true}"
				[(ngModel)]="ticketValue"
				(keyup.enter)="ticketValue = $event.target.value; searchTicket()"
			>
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="searchTicket()">Search</button>
		</form>

		<ul class="navbar-nav position-relative mr-30">
			<li ngbDropdown placement="bottom-right" class="d-inline-block" *ngIf='user.username'>
				<a class="nav-link dropdown-toggle" id="userDropdown" ngbDropdownToggle>{{user.username}}</a>
				<div ngbDropdownMenu aria-labelledby="userDropdown">
					<li><a class="dropdown-item" (click)='openUserSettings()'>User Settings</a></li>
					<li><div class="dropdown-divider"></div></li>
					<li><a class="dropdown-item">Logout</a></li>
				</div>
			</li>
			<li class="nav-item" *ngIf='!user.username'>
				<a class="nav-link">Login</a>
			</li>
		</ul>
	</div>
</nav>





<app-user-settings #userSetting></app-user-settings>
