<!-- QA Generator Model -->
<ng-template #qaModal>
	<form [formGroup]="qaForm">

		<div class="modal-header">
			<h2 class="modal-title">QA Generator</h2>
			<button type="button" class="close" aria-label="Close" (click)="submitQA()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<h4>Your Branches:</h4>

			<div class='loading' *ngIf="loadingBranches; else ticketTable">
				<div class="cs-loader">
					<div class="cs-loader-inner">
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
					</div>
				</div>
			</div>

			<ng-template #ticketTable>
		<!-- 		<div 
					class="repoDropdownParent" 
					*ngFor="let repo of this.get('qaForm').controls.branches.controls; index as idx"
				>
					<div class="form-group">
						<div class="row">
							<div class='col-2'>
								<label for="repositoryName" *ngIf='idx == 0'>Repo:</label>
								<select 
									class="form-control repositoryName" 
									name="repositoryName-{{idx}}" 
									formControlName='repo.repositoryName'
									(change)='getBranches($event.target.value, idx)'
								>
									<option *ngFor='let allRepo of repo.allRepos'>{{allRepo.name}}</option>
								</select>
							</div>
							<div class='col-6'>
								<label for="reviewedBranch" *ngIf='idx == 0'>Branch:</label>
								<select class="form-control reviewedBranch" name="reviewedBranch-{{idx}}" formControlName='repo.reviewedBranch'>
									<option *ngFor='let branch of repo.allBranches'>{{branch}}</option>
								</select>
							</div>
							<div class='col-3'>
								<label for="baseBranch" *ngIf='idx == 0'>Branched From:</label>
								<select class="form-control baseBranch" name="baseBranch-{{idx}}" formControlName='repo.baseBranch'>
									<option *ngFor='let branch of repo.allBranches'>{{branch}}</option>
								</select>
							</div>
							<div class='col-1'>
								<i 
									class="material-icons" 
									[ngClass]="{'delete-icon': idx == 0, 'delete-icon-next': idx != 0}" 
									(click)='deleteDevBranch(idx)'
								>delete</i>
							</div>
						</div>
					</div>
				</div>
				<div class="add-repo">
					<i class="material-icons text-success" (click)='addRepo()'>add_box</i> 
					<span>Add Repo</span>
				</div> -->
			</ng-template>

			<!-- QA steps -->
			<h4>QA Steps:</h4>
			<div class="form-group">
				 <textarea class="form-control" name="qaSteps" id="qaSteps" rows=15 formControlName="qaSteps"></textarea>
			</div>

			<!-- checkboxes -->
			<div class="form-group" formGroupName='selections'>
				<div class="row">
					<div class="col">
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='pcrNeeded' formControlName="pcrNeeded">
								Auto set to "PCR - Needed" component
							</label>
						</div>
						<div class="form-check">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='codeReview' formControlName="codeReview">
								Auto set to "Code Review" status
							</label>
						</div>
					</div>
					<div class="col">
						<span class="float-right">
							<label for="">Log Time:</label>
							<ngb-timepicker
								class='float-right button-border'
								name="logTime"
								formControlName="logTime"
								[hourStep]="hourStep" 
								[minuteStep]="minuteStep">
							</ngb-timepicker>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button 
				type="submit"
				(click)="submitQA('save')"
				[disabled]="loadingBranches"
				class="btn btn-outline-success"
			>Generate
			</button>
			<button type="button" class="btn btn-outline-danger" (click)="submitQA()">Cancel</button>
		</div>
	</form>
</ng-template>