<!-- QA Generator Model -->
<ng-template #qaModal let-c="close" id='qa-modal'>

	<div class="modal-header">
		<h4 class="modal-title">QA Generator</h4>
		<button type="button" class="close" aria-label="Close" (click)="c()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>


	<div class="modal-body">
		<form class="form-group" #qaGenForm="ngForm">

			<h2>Your Branches:</h2>
			<div class="repoDropdownParent" *ngFor='let repo of selectArray; index as idx'>
				<div class="form-group">
					<div class="row">
						<div class='col-2'>
							<label for="repositoryName" *ngIf='idx == 0'>Repo:</label>
							<select class="form-control repositoryName">
								<option selected>{{repo.repo}}</option>
							</select>
						</div>
						<div class='col-6'>
							<label for="reviewedBranch" *ngIf='idx == 0'>Branch:</label>
							<select class="form-control reviewedBranch">
								<option *ngFor='let branch of repo.allBranches' [selected]='branch == repo.devBranch'>{{branch}}</option>
							</select>
						</div>
						<div class='col-3'>
							<label for="baseBranch" *ngIf='idx == 0'>Branched From:</label>
							<select class="form-control baseBranch">
								<option *ngFor='let sourceBranch of repo.sourceBranches'>{{sourceBranch}}</option>
							</select>
						</div>
						<div class='col-1'>
							<i 
								class="material-icons" 
								[ngClass]="{'delete-icon': idx == 0, 'delete-icon-next': idx != 0}" 
								(click)='deleteDevBranch(repo.devBranch)'
							>delete</i>
						</div>
					</div>
				</div>
			</div>


			<!-- QA steps -->
			<h2>QA Steps:</h2>
			<div class="form-group">
				 <textarea class="form-control" name="qaSteps" id="qaSteps" rows=20></textarea>
			</div>


			<!-- checkboxes -->
			<div class="form-group">
				<div class="row">
					<div class="col">
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
								Auto set to "PCR - Needed" component
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
								Auto set to "Code Review" status
							</label>
						</div>
					</div>
					<div class="col">
						<span class="float-right">
							<label for="">Log Time:</label>
							<ngb-timepicker
								class='float-right button-border'
								name="logTime"
								[(ngModel)]="time"
								[hourStep]="hourStep" 
								[minuteStep]="minuteStep">
							</ngb-timepicker>
						</span>
					</div>
				</div>
			</div>

		</form>
	</div>

	<div class="modal-footer">
		<button 
			type="button" 
			[disabled]="qa_submit_disable"
			class="btn btn-outline-dark" 
			(click)="c('gen')">Generate
		</button>
		<button type="button" class="btn btn-outline-dark" (click)="c()">Cancel</button>
	</div>
</ng-template>