.qa-modal .modal-dialog {
	max-width: 1000px;
}

.qa-modal .modal-body textarea{
	width: 100%;
}

.qa-modal .modal-body .creds-margin {
	margin-top: 10px;
}

.qa-modal .modal-body .button-border button {
	border: transparent;
	cursor: pointer;
}

button {
	cursor: pointer;
}