<!-- QA Generator Model -->
<ng-template #qaModal let-c="close" id='qa-modal'>
	<form class="form-group" #qaGenForm="ngForm" (ngSubmit)="submitQA(qaGenForm.value)">

		<div class="modal-header">
			<h2 class="modal-title">QA Generator</h2>
			<button type="button" class="close" aria-label="Close" (click)="c()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body">
			<h4>Your Branches:</h4>

			<div class='loading' *ngIf="loadingBranches; else elseBlock">
				<div class="cs-loader">
					<div class="cs-loader-inner">
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
						<label>	●</label>
					</div>
				</div>
			</div>

			<ng-template #elseBlock>
				<div class="repoDropdownParent" *ngFor=' let repo of repoArray; index as idx'>
					<div class="form-group">
						<div class="row">
							<div class='col-2'>
								<label for="repositoryName" *ngIf='idx == 0'>Repo:</label>
								<select class="form-control repositoryName" name="repositoryName-{{idx}}" [(ngModel)]='repo.repositoryName'>
									<option *ngFor='let allRepo of repo.allRepos'>{{allRepo.name}}</option>
								</select>
							</div>
							<div class='col-6'>
								<label for="reviewedBranch" *ngIf='idx == 0'>Branch:</label>
								<select class="form-control reviewedBranch" name="reviewedBranch-{{idx}}" [(ngModel)]='repo.reviewedBranch'>
									<option *ngFor='let branch of repo.allBranches'>{{branch}}</option>
								</select>
							</div>
							<div class='col-3'>
								<label for="baseBranch" *ngIf='idx == 0'>Branched From:</label>
								<select class="form-control baseBranch" name="baseBranch-{{idx}}" [(ngModel)]='repo.baseBranch'>
									<option *ngFor='let branch of repo.allBranches'>{{branch}}</option>
								</select>
							</div>
							<div class='col-1'>
								<i 
									class="material-icons" 
									[ngClass]="{'delete-icon': idx == 0, 'delete-icon-next': idx != 0}" 
									(click)='deleteDevBranch(repo.devBranch)'
								>delete</i>
							</div>
						</div>
					</div>
				</div>
			</ng-template>

			<!-- QA steps -->
			<h4>QA Steps:</h4>
			<div class="form-group">
				 <textarea class="form-control" name="qaSteps" id="qaSteps" rows=20 [(ngModel)]="qaSteps"></textarea>
			</div>

			<!-- checkboxes -->
			<div class="form-group">
				<div class="row">
					<div class="col">
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='pcrNeeded' [(ngModel)]="pcrNeeded">
								Auto set to "PCR - Needed" component
							</label>
						</div>
						<div class="form-check form-check-inline">
							<label class="form-check-label">
								<input class="form-check-input" type="checkbox" name='codeReview' [(ngModel)]="codeReview">
								Auto set to "Code Review" status
							</label>
						</div>
					</div>
					<div class="col">
						<span class="float-right">
							<label for="">Log Time:</label>
							<ngb-timepicker
								class='float-right button-border'
								name="logTime"
								[(ngModel)]="logTime"
								[hourStep]="hourStep" 
								[minuteStep]="minuteStep">
							</ngb-timepicker>
						</span>
					</div>
				</div>
			</div>
		</div>

		<div class="modal-footer">
			<button 
				type="submit" 
				[disabled]="qa_submit_disable"
				class="btn btn-outline-dark" 
			>Generate
			</button>
			<button type="button" class="btn btn-outline-dark" (click)="c()">Cancel</button>
		</div>
	</form>
</ng-template>